In [1]:

import pyspark

In [2]:

from pyspark.sql import SparkSession 
from pyspark import SparkConf,SparkContext

In [3]:
spark = SparkSession.builder.appName('first').getOrCreate()

In [4]:
df_pyspark =

SyntaxError: invalid syntax (Temp/ipykernel_10624/39927228.py, line 1)

In [56]:
spark = SparkSession(sc)

NameError: name 'sc' is not defined

In [11]:
df_pyspark = spark.read.csv('D:\python for data science introduction\stackoverflow dataset\survey_results_public.csv')

In [15]:
df_pyspark.head(3)

[Row(_c0='Respondent', _c1='MainBranch', _c2='Hobbyist', _c3='Age', _c4='Age1stCode', _c5='CompFreq', _c6='CompTotal', _c7='ConvertedComp', _c8='Country', _c9='CurrencyDesc', _c10='CurrencySymbol', _c11='DatabaseDesireNextYear', _c12='DatabaseWorkedWith', _c13='DevType', _c14='EdLevel', _c15='Employment', _c16='Ethnicity', _c17='Gender', _c18='JobFactors', _c19='JobSat', _c20='JobSeek', _c21='LanguageDesireNextYear', _c22='LanguageWorkedWith', _c23='MiscTechDesireNextYear', _c24='MiscTechWorkedWith', _c25='NEWCollabToolsDesireNextYear', _c26='NEWCollabToolsWorkedWith', _c27='NEWDevOps', _c28='NEWDevOpsImpt', _c29='NEWEdImpt', _c30='NEWJobHunt', _c31='NEWJobHuntResearch', _c32='NEWLearn', _c33='NEWOffTopic', _c34='NEWOnboardGood', _c35='NEWOtherComms', _c36='NEWOvertime', _c37='NEWPurchaseResearch', _c38='NEWPurpleLink', _c39='NEWSOSites', _c40='NEWStuck', _c41='OpSys', _c42='OrgSize', _c43='PlatformDesireNextYear', _c44='PlatformWorkedWith', _c45='PurchaseWhat', _c46='Sexuality', _c47='SOAccount', _c48='SOComm', _c49='SOPartFreq', _c50='SOVisitFreq', _c51='SurveyEase', _c52='SurveyLength', _c53='Trans', _c54='UndergradMajor', _c55='WebframeDesireNextYear', _c56='WebframeWorkedWith', _c57='WelcomeChange', _c58='WorkWeekHrs', _c59='YearsCode', _c60='YearsCodePro'),
 Row(_c0='1', _c1='I am a developer by profession', _c2='Yes', _c3='NA', _c4='13', _c5='Monthly', _c6='NA', _c7='NA', _c8='Germany', _c9='European Euro', _c10='EUR', _c11='Microsoft SQL Server', _c12='Elasticsearch;Microsoft SQL Server;Oracle', _c13='Developer, desktop or enterprise applications;Developer, full-stack', _c14='Master’s degree (M.A., M.S., M.Eng., MBA, etc.)', _c15='Independent contractor, freelancer, or self-employed', _c16='White or of European descent', _c17='Man', _c18='Languages, frameworks, and other technologies I’d be working with;Remote work options;Opportunities for professional development', _c19='Slightly satisfied', _c20='I am not interested in new job opportunities', _c21='C#;HTML/CSS;JavaScript', _c22='C#;HTML/CSS;JavaScript', _c23='.NET Core;Xamarin', _c24='.NET;.NET Core', _c25='Microsoft Teams;Microsoft Azure;Trello', _c26='Confluence;Jira;Slack;Microsoft Azure;Trello', _c27='No', _c28='Somewhat important', _c29='Fairly important', _c30='NA', _c31='NA', _c32='Once a year', _c33='Not sure', _c34='NA', _c35='No', _c36='Often: 1-2 days per week or more', _c37='Start a free trial;Ask developers I know/work with', _c38='Amused', _c39='Stack Overflow (public Q&A for anyone who codes)', _c40='Visit Stack Overflow;Go for a walk or other physical activity;Do other work and come back later', _c41='Windows', _c42='2 to 9 employees', _c43='Android;iOS;Kubernetes;Microsoft Azure;Windows', _c44='Windows', _c45='NA', _c46='Straight / Heterosexual', _c47='No', _c48='No, not at all', _c49='NA', _c50='Multiple times per day', _c51='Neither easy nor difficult', _c52='Appropriate in length', _c53='No', _c54='Computer science, computer engineering, or software engineering', _c55='ASP.NET Core', _c56='ASP.NET;ASP.NET Core', _c57='Just as welcome now as I felt last year', _c58='50', _c59='36', _c60='27'),
 Row(_c0='2', _c1='I am a developer by profession', _c2='No', _c3='NA', _c4='19', _c5='NA', _c6='NA', _c7='NA', _c8='United Kingdom', _c9='Pound sterling', _c10='GBP', _c11='NA', _c12='NA', _c13='Developer, full-stack;Developer, mobile', _c14='Bachelor’s degree (B.A., B.S., B.Eng., etc.)', _c15='Employed full-time', _c16='NA', _c17='NA', _c18='NA', _c19='Very dissatisfied', _c20='I am not interested in new job opportunities', _c21='Python;Swift', _c22='JavaScript;Swift', _c23='React Native;TensorFlow;Unity 3D', _c24='React Native', _c25='Github;Slack', _c26='Confluence;Jira;Github;Gitlab;Slack', _c27='NA', _c28='NA', _c29='Fairly important', _c30='NA', _c31='NA', _c32='Once a year', _c33='Not sure', _c34='NA', _c35='No', _c36='NA', _c37='NA', _c38='Amused', _c39='Stack Overflow (public Q&A for anyone who codes);Stack Exchange (public Q&A for a variety of topics);Stack Overflow Jobs (for job seekers)', _c40='Visit Stack Overflow;Go for a walk or other physical activity', _c41='MacOS', _c42='1,000 to 4,999 employees', _c43='iOS;Kubernetes;Linux;MacOS', _c44='iOS', _c45='I have little or no influence', _c46='NA', _c47='Yes', _c48='Yes, definitely', _c49='Less than once per month or monthly', _c50='Multiple times per day', _c51='NA', _c52='NA', _c53='NA', _c54='Computer science, computer engineering, or software engineering', _c55='NA', _c56='NA', _c57='Somewhat more welcome now than last year', _c58='NA', _c59='7', _c60='4')]

In [16]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)
 |-- _c28: string (nullable = true)
 |-- _c29: string (nullable = true)
 |-- _c30: string (nullable = true)
 |-- _c31: string (nullable = true)
 |-- _c32: string (nullable = true)
 |-- _c33: string (nullable = true)
 |-- _c34: string (nullable = true)
 |-- _c35: string (nullable = true)
 |-- _c36: string (nullable = true)
 |-- _c37: string (nullable = true)
 |-- _c38: string (nullable = true)
 |-- _c39: string (nullable = true)
 |-- _c40: string (nullable = true)
 |-- _c41: string (nullable = true)
 |-- _c42: string (nullable = true)
 |-- _c43: string (nullable = true)
 |-- _c44: string (nullable = true)
 |-- _c45: string (nullable = true)
 |-- _c46: string (nullable = true)
 |-- _c47: string (nullable = true)
 |-- _c48: string (nullable = true)
 |-- _c49: string (nullable = true)
 |-- _c50: string (nullable = true)
 |-- _c51: string (nullable = true)
 |-- _c52: string (nullable = true)
 |-- _c53: string (nullable = true)
 |-- _c54: string (nullable = true)
 |-- _c55: string (nullable = true)
 |-- _c56: string (nullable = true)
 |-- _c57: string (nullable = true)
 |-- _c58: string (nullable = true)
 |-- _c59: string (nullable = true)
 |-- _c60: string (nullable = true)

In [22]:
#reading a csv file 
df_pyspark = spark.read.option('header','true').csv('D:\python for data science introduction\stackoverflow dataset\survey_results_public.csv',inferSchema=True)

In [23]:
df_pyspark.printSchema()

root
 |-- Respondent: integer (nullable = true)
 |-- MainBranch: string (nullable = true)
 |-- Hobbyist: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Age1stCode: string (nullable = true)
 |-- CompFreq: string (nullable = true)
 |-- CompTotal: string (nullable = true)
 |-- ConvertedComp: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- CurrencyDesc: string (nullable = true)
 |-- CurrencySymbol: string (nullable = true)
 |-- DatabaseDesireNextYear: string (nullable = true)
 |-- DatabaseWorkedWith: string (nullable = true)
 |-- DevType: string (nullable = true)
 |-- EdLevel: string (nullable = true)
 |-- Employment: string (nullable = true)
 |-- Ethnicity: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- JobFactors: string (nullable = true)
 |-- JobSat: string (nullable = true)
 |-- JobSeek: string (nullable = true)
 |-- LanguageDesireNextYear: string (nullable = true)
 |-- LanguageWorkedWith: string (nullable = true)
 |-- MiscTechDesireNextYear: string (nullable = true)
 |-- MiscTechWorkedWith: string (nullable = true)
 |-- NEWCollabToolsDesireNextYear: string (nullable = true)
 |-- NEWCollabToolsWorkedWith: string (nullable = true)
 |-- NEWDevOps: string (nullable = true)
 |-- NEWDevOpsImpt: string (nullable = true)
 |-- NEWEdImpt: string (nullable = true)
 |-- NEWJobHunt: string (nullable = true)
 |-- NEWJobHuntResearch: string (nullable = true)
 |-- NEWLearn: string (nullable = true)
 |-- NEWOffTopic: string (nullable = true)
 |-- NEWOnboardGood: string (nullable = true)
 |-- NEWOtherComms: string (nullable = true)
 |-- NEWOvertime: string (nullable = true)
 |-- NEWPurchaseResearch: string (nullable = true)
 |-- NEWPurpleLink: string (nullable = true)
 |-- NEWSOSites: string (nullable = true)
 |-- NEWStuck: string (nullable = true)
 |-- OpSys: string (nullable = true)
 |-- OrgSize: string (nullable = true)
 |-- PlatformDesireNextYear: string (nullable = true)
 |-- PlatformWorkedWith: string (nullable = true)
 |-- PurchaseWhat: string (nullable = true)
 |-- Sexuality: string (nullable = true)
 |-- SOAccount: string (nullable = true)
 |-- SOComm: string (nullable = true)
 |-- SOPartFreq: string (nullable = true)
 |-- SOVisitFreq: string (nullable = true)
 |-- SurveyEase: string (nullable = true)
 |-- SurveyLength: string (nullable = true)
 |-- Trans: string (nullable = true)
 |-- UndergradMajor: string (nullable = true)
 |-- WebframeDesireNextYear: string (nullable = true)
 |-- WebframeWorkedWith: string (nullable = true)
 |-- WelcomeChange: string (nullable = true)
 |-- WorkWeekHrs: string (nullable = true)
 |-- YearsCode: string (nullable = true)
 |-- YearsCodePro: string (nullable = true)

In [24]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [31]:
df_pyspark.select('Respondent'
                 ).show()

+----------+
|Respondent|
+----------+
|         1|
|         2|
|         3|
|         4|
|         5|
|         6|
|         7|
|         8|
|         9|
|        10|
|        11|
|        12|
|        13|
|        14|
|        15|
|        16|
|        17|
|        18|
|        19|
|        20|
+----------+
only showing top 20 rows

In [ ]:
df_pyspark()

In [32]:
df_pyspark.describe().show()

+-------+------------------+--------------------+--------+-----------------+--------------------+--------+--------------------+------------------+-----------+----------------+--------------+----------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------------+--------------------+----------------------+------------------+----------------------+------------------+----------------------------+------------------------+---------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------+--------------+-------------+--------------------+--------------------+-------------+--------------------+--------------------+-------+--------------------+----------------------+------------------+--------------------+--------------------+---------+-------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+----------------------+------------------+--------------------+------------------+------------------+-----------------+
|summary|        Respondent|          MainBranch|Hobbyist|              Age|          Age1stCode|CompFreq|           CompTotal|     ConvertedComp|    Country|    CurrencyDesc|CurrencySymbol|DatabaseDesireNextYear|DatabaseWorkedWith|             DevType|             EdLevel|        Employment|           Ethnicity|              Gender|          JobFactors|        JobSat|             JobSeek|LanguageDesireNextYear|LanguageWorkedWith|MiscTechDesireNextYear|MiscTechWorkedWith|NEWCollabToolsDesireNextYear|NEWCollabToolsWorkedWith|NEWDevOps|      NEWDevOpsImpt|           NEWEdImpt|          NEWJobHunt|  NEWJobHuntResearch|            NEWLearn|NEWOffTopic|NEWOnboardGood|NEWOtherComms|         NEWOvertime| NEWPurchaseResearch|NEWPurpleLink|          NEWSOSites|            NEWStuck|  OpSys|             OrgSize|PlatformDesireNextYear|PlatformWorkedWith|        PurchaseWhat|           Sexuality|SOAccount|       SOComm|          SOPartFreq|         SOVisitFreq|          SurveyEase|        SurveyLength|Trans|      UndergradMajor|WebframeDesireNextYear|WebframeWorkedWith|       WelcomeChange|       WorkWeekHrs|         YearsCode|     YearsCodePro|
+-------+------------------+--------------------+--------+-----------------+--------------------+--------+--------------------+------------------+-----------+----------------+--------------+----------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------------+--------------------+----------------------+------------------+----------------------+------------------+----------------------------+------------------------+---------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------+--------------+-------------+--------------------+--------------------+-------------+--------------------+--------------------+-------+--------------------+----------------------+------------------+--------------------+--------------------+---------+-------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+----------------------+------------------+--------------------+------------------+------------------+-----------------+
|  count|             64461|               64461|   64461|            64461|               64461|   64461|               64461|             64461|      64461|           64461|         64461|                 64461|             64461|               64461|               64461|             64461|               64461|               64461|               64461|         64461|               64461|                 64461|             64461|                 64461|             64461|                       64461|                   64461|    64461|              64461|               64461|               64461|               64461|               64461|      64461|         64461|        64461|               64461|               64461|        64461|               64461|               64461|  64461|               64461|                 64461|             64461|               64461|               64461|    64461|        64461|               64461|               64461|               64461|               64461|64461|               64461|                 64461|             64461|               64461|             64461|             64461|            64461|
|   mean| 32554.07973813624|                null|    null|30.83411081283281|  15.476571607537453|    null|3.190464340180066...|103756.05014961446|       null|            null|          null|                  null|              null|                null|                null|              null|                null|                null|                null|          null|                null|                  null|              null|                  null|              null|                        null|                    null|     null|               null|                null|                null|                null|                null|       null|          null|         null|                null|                null|         null|                null|                null|   null|                null|                  null|              null|                null|                null|     null|         null|                null|                null|                null|                null| null|                null|                  null|              null|                null| 40.78217399901455|12.782051282051283|8.869666689325449|
| stddev|18967.442359929824|                null|    null| 9.58539232884474|   5.114081176015281|    null|            Infinity|226885.29624346833|       null|            null|          null|                  null|              null|                null|                null|              null|                null|                null|                null|          null|                null|                  null|              null|                  null|              null|                        null|                    null|     null|               null|                null|                null|                null|                null|       null|          null|         null|                null|                null|         null|                null|                null|   null|                null|                  null|              null|                null|                null|     null|         null|                null|                null|                null|                null| null|                null|                  null|              null|                null|17.816383421991524|  9.49065691445291|7.759960871149197|
|    min|                 1|I am a developer ...|      NA|                1|                  10| Monthly|                   0|                 0|Afghanistan|  Afghan afghani|           AED|             Cassandra|         Cassandra| Academic researcher|Associate degree ...|Employed full-time|            Biracial|                 Man|Diversity of the ...|            NA|I am actively loo...|              Assembly|          Assembly|                  .NET|              .NET|                  Confluence|              Confluence|       NA|Extremely important|Critically important| Better compensation|Company reviews f...|    Every few months|         NA|            NA|           NA|                  NA|Ask developers I ...|       Amused|I have never visi...|Call a coworker o...|    BSD|1,000 to 4,999 em...|                   AWS|               AWS|I have a great de...|            Bisexual|       NA|           NA|A few times per m...|A few times per m...|           Difficult|Appropriate in le...|   NA|A business discip...|               ASP.NET|           ASP.NET|A lot less welcom...|                 1|                 1|                1|
|    max|             65639|                  NA|     Yes|               NA|Younger than 5 years|  Yearly|                  NA|                NA|   Zimbabwe|e\tFaroese krona|           non|                SQLite|            SQLite|System administrator|Some college/univ...|           Student|White or of Europ...|Woman;Non-binary,...|Specific departme...|Very satisfied|                  NA|                   VBA|               VBA|               Xamarin|           Xamarin|        Trello;Stack Over...|    Trello;Stack Over...|      Yes| Somewhat important|      Very important|Wanting to work w...|Read other media ...|Once every few years|        Yes|           Yes|          Yes|Sometimes: 1-2 da...|Visit developer c...|           NA|Stack Overflow fo...|Watch help / tuto...|Windows|                  NA|         iOS;WordPress|     iOS;WordPress|                  NA|Straight / Hetero...|      Yes|Yes, somewhat|                  NA|                  NA|Neither easy nor ...|           Too short|  Yes|Web development o...|         jQuery;Vue.js|     jQuery;Vue.js|Somewhat more wel...|                NA|                NA|               NA|
+-------+------------------+--------------------+--------+-----------------+--------------------+--------+--------------------+------------------+-----------+----------------+--------------+----------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------------+--------------------+----------------------+------------------+----------------------+------------------+----------------------------+------------------------+---------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------+--------------+-------------+--------------------+--------------------+-------------+--------------------+--------------------+-------+--------------------+----------------------+------------------+--------------------+--------------------+---------+-------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+----------------------+------------------+--------------------+------------------+------------------+-----------------+

In [ ]:
#adding a new column 
df_pyspark.withColumn('')

In [ ]:
#drop a column 
df_pyspark.drop()

In [ ]:
#rename a column
df_pyspark.withColumnRenamed

In [34]:
#dropping a null valE
#droppig a column wuth a null value 
df_pyspark.na.drop()

DataFrame[Respondent: int, MainBranch: string, Hobbyist: string, Age: string, Age1stCode: string, CompFreq: string, CompTotal: string, ConvertedComp: string, Country: string, CurrencyDesc: string, CurrencySymbol: string, DatabaseDesireNextYear: string, DatabaseWorkedWith: string, DevType: string, EdLevel: string, Employment: string, Ethnicity: string, Gender: string, JobFactors: string, JobSat: string, JobSeek: string, LanguageDesireNextYear: string, LanguageWorkedWith: string, MiscTechDesireNextYear: string, MiscTechWorkedWith: string, NEWCollabToolsDesireNextYear: string, NEWCollabToolsWorkedWith: string, NEWDevOps: string, NEWDevOpsImpt: string, NEWEdImpt: string, NEWJobHunt: string, NEWJobHuntResearch: string, NEWLearn: string, NEWOffTopic: string, NEWOnboardGood: string, NEWOtherComms: string, NEWOvertime: string, NEWPurchaseResearch: string, NEWPurpleLink: string, NEWSOSites: string, NEWStuck: string, OpSys: string, OrgSize: string, PlatformDesireNextYear: string, PlatformWorkedWith: string, PurchaseWhat: string, Sexuality: string, SOAccount: string, SOComm: string, SOPartFreq: string, SOVisitFreq: string, SurveyEase: string, SurveyLength: string, Trans: string, UndergradMajor: string, WebframeDesireNextYear: string, WebframeWorkedWith: string, WelcomeChange: string, WorkWeekHrs: string, YearsCode: string, YearsCodePro: string]

In [ ]:
#any or how

In [ ]:
#threshold tellls us how many null values we can have if we have thresh = 2 , minimum of two non null values has to be there  
df_pyspark.na.drop(how="any",thresh=2).show()

In [ ]:
#subset drops the nan values from a specific  column

In [ ]:
#filliing the missing value 
df_pyspark.na.fill('type the value you want to fill',['type the column name you want to change the mising values from']).show()

In [37]:
df_pyspark.columns

['Respondent',
 'MainBranch',
 'Hobbyist',
 'Age',
 'Age1stCode',
 'CompFreq',
 'CompTotal',
 'ConvertedComp',
 'Country',
 'CurrencyDesc',
 'CurrencySymbol',
 'DatabaseDesireNextYear',
 'DatabaseWorkedWith',
 'DevType',
 'EdLevel',
 'Employment',
 'Ethnicity',
 'Gender',
 'JobFactors',
 'JobSat',
 'JobSeek',
 'LanguageDesireNextYear',
 'LanguageWorkedWith',
 'MiscTechDesireNextYear',
 'MiscTechWorkedWith',
 'NEWCollabToolsDesireNextYear',
 'NEWCollabToolsWorkedWith',
 'NEWDevOps',
 'NEWDevOpsImpt',
 'NEWEdImpt',
 'NEWJobHunt',
 'NEWJobHuntResearch',
 'NEWLearn',
 'NEWOffTopic',
 'NEWOnboardGood',
 'NEWOtherComms',
 'NEWOvertime',
 'NEWPurchaseResearch',
 'NEWPurpleLink',
 'NEWSOSites',
 'NEWStuck',
 'OpSys',
 'OrgSize',
 'PlatformDesireNextYear',
 'PlatformWorkedWith',
 'PurchaseWhat',
 'Sexuality',
 'SOAccount',
 'SOComm',
 'SOPartFreq',
 'SOVisitFreq',
 'SurveyEase',
 'SurveyLength',
 'Trans',
 'UndergradMajor',
 'WebframeDesireNextYear',
 'WebframeWorkedWith',
 'WelcomeChange',
 'WorkWeekHrs',
 'YearsCode',
 'YearsCodePro']

In [46]:
#imputer function
df_pyspark.agg({'Age':'mean'}).show()

+-----------------+
|         avg(Age)|
+-----------------+
|30.83411081283281|
+-----------------+

In [47]:
df_pyspark.agg({'Age':'variance'}).show()

+----------------+
|   variance(Age)|
+----------------+
|91.8797460978756|
+----------------+

In [48]:
df_pyspark.agg({'Age':'stddev'}).show()

+----------------+
|     stddev(Age)|
+----------------+
|9.58539232884474|
+----------------+

In [52]:
#pyspark df filter options
df_pyspark.filter("Age>=20").select(['Respondent','CurrencySymbol']).show()

+----------+--------------+
|Respondent|CurrencySymbol|
+----------+--------------+
|         4|           ALL|
|         5|            NA|
|         8|           USD|
|         9|           USD|
|        10|           GBP|
|        11|           GBP|
|        12|           EUR|
|        13|           EUR|
|        14|           USD|
|        16|           GBP|
|        17|           USD|
|        18|           USD|
|        19|           USD|
|        20|           EUR|
|        21|            NA|
|        23|           EUR|
|        24|           EUR|
|        32|           CAD|
|        33|           EUR|
|        34|            NA|
+----------+--------------+
only showing top 20 rows

In [75]:
df_pyspark.filter(("Age >= 23") & ("Age =< 27")).select(['Respondent','CurrencySymbol']).show()

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [74]:
df_pyspark.filter(('Age > 23') & ('Age < 25')).show()

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [ ]:
df_pyspark.filter(df_pyspark.[''])

In [78]:
df_pyspark.head(5)

[Row(Respondent=1, MainBranch='I am a developer by profession', Hobbyist='Yes', Age='NA', Age1stCode='13', CompFreq='Monthly', CompTotal='NA', ConvertedComp='NA', Country='Germany', CurrencyDesc='European Euro', CurrencySymbol='EUR', DatabaseDesireNextYear='Microsoft SQL Server', DatabaseWorkedWith='Elasticsearch;Microsoft SQL Server;Oracle', DevType='Developer, desktop or enterprise applications;Developer, full-stack', EdLevel='Master’s degree (M.A., M.S., M.Eng., MBA, etc.)', Employment='Independent contractor, freelancer, or self-employed', Ethnicity='White or of European descent', Gender='Man', JobFactors='Languages, frameworks, and other technologies I’d be working with;Remote work options;Opportunities for professional development', JobSat='Slightly satisfied', JobSeek='I am not interested in new job opportunities', LanguageDesireNextYear='C#;HTML/CSS;JavaScript', LanguageWorkedWith='C#;HTML/CSS;JavaScript', MiscTechDesireNextYear='.NET Core;Xamarin', MiscTechWorkedWith='.NET;.NET Core', NEWCollabToolsDesireNextYear='Microsoft Teams;Microsoft Azure;Trello', NEWCollabToolsWorkedWith='Confluence;Jira;Slack;Microsoft Azure;Trello', NEWDevOps='No', NEWDevOpsImpt='Somewhat important', NEWEdImpt='Fairly important', NEWJobHunt='NA', NEWJobHuntResearch='NA', NEWLearn='Once a year', NEWOffTopic='Not sure', NEWOnboardGood='NA', NEWOtherComms='No', NEWOvertime='Often: 1-2 days per week or more', NEWPurchaseResearch='Start a free trial;Ask developers I know/work with', NEWPurpleLink='Amused', NEWSOSites='Stack Overflow (public Q&A for anyone who codes)', NEWStuck='Visit Stack Overflow;Go for a walk or other physical activity;Do other work and come back later', OpSys='Windows', OrgSize='2 to 9 employees', PlatformDesireNextYear='Android;iOS;Kubernetes;Microsoft Azure;Windows', PlatformWorkedWith='Windows', PurchaseWhat='NA', Sexuality='Straight / Heterosexual', SOAccount='No', SOComm='No, not at all', SOPartFreq='NA', SOVisitFreq='Multiple times per day', SurveyEase='Neither easy nor difficult', SurveyLength='Appropriate in length', Trans='No', UndergradMajor='Computer science, computer engineering, or software engineering', WebframeDesireNextYear='ASP.NET Core', WebframeWorkedWith='ASP.NET;ASP.NET Core', WelcomeChange='Just as welcome now as I felt last year', WorkWeekHrs='50', YearsCode='36', YearsCodePro='27'),
 Row(Respondent=2, MainBranch='I am a developer by profession', Hobbyist='No', Age='NA', Age1stCode='19', CompFreq='NA', CompTotal='NA', ConvertedComp='NA', Country='United Kingdom', CurrencyDesc='Pound sterling', CurrencySymbol='GBP', DatabaseDesireNextYear='NA', DatabaseWorkedWith='NA', DevType='Developer, full-stack;Developer, mobile', EdLevel='Bachelor’s degree (B.A., B.S., B.Eng., etc.)', Employment='Employed full-time', Ethnicity='NA', Gender='NA', JobFactors='NA', JobSat='Very dissatisfied', JobSeek='I am not interested in new job opportunities', LanguageDesireNextYear='Python;Swift', LanguageWorkedWith='JavaScript;Swift', MiscTechDesireNextYear='React Native;TensorFlow;Unity 3D', MiscTechWorkedWith='React Native', NEWCollabToolsDesireNextYear='Github;Slack', NEWCollabToolsWorkedWith='Confluence;Jira;Github;Gitlab;Slack', NEWDevOps='NA', NEWDevOpsImpt='NA', NEWEdImpt='Fairly important', NEWJobHunt='NA', NEWJobHuntResearch='NA', NEWLearn='Once a year', NEWOffTopic='Not sure', NEWOnboardGood='NA', NEWOtherComms='No', NEWOvertime='NA', NEWPurchaseResearch='NA', NEWPurpleLink='Amused', NEWSOSites='Stack Overflow (public Q&A for anyone who codes);Stack Exchange (public Q&A for a variety of topics);Stack Overflow Jobs (for job seekers)', NEWStuck='Visit Stack Overflow;Go for a walk or other physical activity', OpSys='MacOS', OrgSize='1,000 to 4,999 employees', PlatformDesireNextYear='iOS;Kubernetes;Linux;MacOS', PlatformWorkedWith='iOS', PurchaseWhat='I have little or no influence', Sexuality='NA', SOAccount='Yes', SOComm='Yes, definitely', SOPartFreq='Less than once per month or monthly', SOVisitFreq='Multiple times per day', SurveyEase='NA', SurveyLength='NA', Trans='NA', UndergradMajor='Computer science, computer engineering, or software engineering', WebframeDesireNextYear='NA', WebframeWorkedWith='NA', WelcomeChange='Somewhat more welcome now than last year', WorkWeekHrs='NA', YearsCode='7', YearsCodePro='4'),
 Row(Respondent=3, MainBranch='I code primarily as a hobby', Hobbyist='Yes', Age='NA', Age1stCode='15', CompFreq='NA', CompTotal='NA', ConvertedComp='NA', Country='Russian Federation', CurrencyDesc='NA', CurrencySymbol='NA', DatabaseDesireNextYear='NA', DatabaseWorkedWith='NA', DevType='NA', EdLevel='NA', Employment='NA', Ethnicity='NA', Gender='NA', JobFactors='NA', JobSat='NA', JobSeek='NA', LanguageDesireNextYear='Objective-C;Python;Swift', LanguageWorkedWith='Objective-C;Python;Swift', MiscTechDesireNextYear='NA', MiscTechWorkedWith='NA', NEWCollabToolsDesireNextYear='NA', NEWCollabToolsWorkedWith='NA', NEWDevOps='NA', NEWDevOpsImpt='NA', NEWEdImpt='NA', NEWJobHunt='NA', NEWJobHuntResearch='NA', NEWLearn='Once a decade', NEWOffTopic='NA', NEWOnboardGood='NA', NEWOtherComms='No', NEWOvertime='NA', NEWPurchaseResearch='NA', NEWPurpleLink='NA', NEWSOSites='Stack Overflow (public Q&A for anyone who codes)', NEWStuck='NA', OpSys='Linux-based', OrgSize='NA', PlatformDesireNextYear='NA', PlatformWorkedWith='NA', PurchaseWhat='NA', Sexuality='NA', SOAccount='Yes', SOComm='Yes, somewhat', SOPartFreq='A few times per month or weekly', SOVisitFreq='Daily or almost daily', SurveyEase='Neither easy nor difficult', SurveyLength='Appropriate in length', Trans='NA', UndergradMajor='NA', WebframeDesireNextYear='NA', WebframeWorkedWith='NA', WelcomeChange='Somewhat more welcome now than last year', WorkWeekHrs='NA', YearsCode='4', YearsCodePro='NA'),
 Row(Respondent=4, MainBranch='I am a developer by profession', Hobbyist='Yes', Age='25', Age1stCode='18', CompFreq='NA', CompTotal='NA', ConvertedComp='NA', Country='Albania', CurrencyDesc='Albanian lek', CurrencySymbol='ALL', DatabaseDesireNextYear='NA', DatabaseWorkedWith='NA', DevType='NA', EdLevel='Master’s degree (M.A., M.S., M.Eng., MBA, etc.)', Employment='NA', Ethnicity='White or of European descent', Gender='Man', JobFactors='Flex time or a flexible schedule;Office environment or company culture;Opportunities for professional development', JobSat='Slightly dissatisfied', JobSeek='I’m not actively looking, but I am open to new opportunities', LanguageDesireNextYear='NA', LanguageWorkedWith='NA', MiscTechDesireNextYear='NA', MiscTechWorkedWith='NA', NEWCollabToolsDesireNextYear='NA', NEWCollabToolsWorkedWith='NA', NEWDevOps='No', NEWDevOpsImpt='NA', NEWEdImpt='Not at all important/not necessary', NEWJobHunt='Curious about other opportunities;Wanting to work with new technologies', NEWJobHuntResearch='NA', NEWLearn='Once a year', NEWOffTopic='Not sure', NEWOnboardGood='Yes', NEWOtherComms='Yes', NEWOvertime='Occasionally: 1-2 days per quarter but less than monthly', NEWPurchaseResearch='NA', NEWPurpleLink='NA', NEWSOSites='Stack Overflow (public Q&A for anyone who codes);Stack Exchange (public Q&A for a variety of topics);Stack Overflow Jobs (for job seekers)', NEWStuck='NA', OpSys='Linux-based', OrgSize='20 to 99 employees', PlatformDesireNextYear='NA', PlatformWorkedWith='NA', PurchaseWhat='I have a great deal of influence', Sexuality='Straight / Heterosexual', SOAccount='Yes', SOComm='Yes, definitely', SOPartFreq='A few times per month or weekly', SOVisitFreq='Multiple times per day', SurveyEase='NA', SurveyLength='NA', Trans='No', UndergradMajor='Computer science, computer engineering, or software engineering', WebframeDesireNextYear='NA', WebframeWorkedWith='NA', WelcomeChange='Somewhat less welcome now than last year', WorkWeekHrs='40', YearsCode='7', YearsCodePro='4'),
 Row(Respondent=5, MainBranch='I used to be a developer by profession, but no longer am', Hobbyist='Yes', Age='31', Age1stCode='16', CompFreq='NA', CompTotal='NA', ConvertedComp='NA', Country='United States', CurrencyDesc='NA', CurrencySymbol='NA', DatabaseDesireNextYear='MySQL;PostgreSQL', DatabaseWorkedWith='MySQL;PostgreSQL;Redis;SQLite', DevType='NA', EdLevel='Bachelor’s degree (B.A., B.S., B.Eng., etc.)', Employment='Employed full-time', Ethnicity='White or of European descent', Gender='Man', JobFactors='NA', JobSat='NA', JobSeek='NA', LanguageDesireNextYear='Java;Ruby;Scala', LanguageWorkedWith='HTML/CSS;Ruby;SQL', MiscTechDesireNextYear='Ansible;Chef', MiscTechWorkedWith='Ansible', NEWCollabToolsDesireNextYear='Github;Google Suite (Docs, Meet, etc)', NEWCollabToolsWorkedWith='Confluence;Jira;Github;Slack;Google Suite (Docs, Meet, etc)', NEWDevOps='NA', NEWDevOpsImpt='NA', NEWEdImpt='Very important', NEWJobHunt='NA', NEWJobHuntResearch='NA', NEWLearn='Once a year', NEWOffTopic='No', NEWOnboardGood='NA', NEWOtherComms='Yes', NEWOvertime='NA', NEWPurchaseResearch='Start a free trial;Ask developers I know/work with;Visit developer communities like Stack Overflow;Read ratings or reviews on third party sites like G2Crowd;Research companies that have advertised on sites I visit', NEWPurpleLink='Hello, old friend', NEWSOSites='Stack Overflow (public Q&A for anyone who codes);Stack Exchange (public Q&A for a variety of topics);Stack Overflow Jobs (for job seekers);Stack Overflow for Teams (private Q&A for organizations);Stack Overflow Talent (for hiring companies/recruiters)', NEWStuck='Call a coworker or friend;Visit Stack Overflow;Watch help / tutorial videos;Do other work and come back later;Visit another developer community (please name):', OpSys='Windows', OrgSize='NA', PlatformDesireNextYear='Docker;Google Cloud Platform;Heroku;Linux;Windows', PlatformWorkedWith='AWS;Docker;Linux;MacOS;Windows', PurchaseWhat='NA', Sexuality='Straight / Heterosexual', SOAccount='Yes', SOComm='Yes, somewhat', SOPartFreq='Less than once per month or monthly', SOVisitFreq='A few times per month or weekly', SurveyEase='Easy', SurveyLength='Too short', Trans='No', UndergradMajor='Computer science, computer engineering, or software engineering', WebframeDesireNextYear='Django;Ruby on Rails', WebframeWorkedWith='Ruby on Rails', WelcomeChange='Just as welcome now as I felt last year', WorkWeekHrs='NA', YearsCode='15', YearsCodePro='8')]

In [87]:
df_task1 = spark.read.csv(
    path ='C:/Users/HP/Downloads/sample_data.csv',
    sep=",",
    header=True,
    inferSchema= True)

In [88]:
df_task1.head(5)

[Row(Fname='Abigail', Lname='Abraham', Mname='L', DateOfBirth='18-10-1942', Suffix=None, Prefix=None, ActiveFlag='Y', CreateDate='04-07-2013 00:00', UpdateDate='09-07-2013 00:00', CreatedBy=100001, UpdatedBy=100001, GenderID=1, RaceCode='F5', Race Description='Black', IdentityDocID='1468779', IdentityDocType='SSN', RaceDetails=1),
 Row(Fname='John', Lname='Don', Mname='L', DateOfBirth='19-10-1942', Suffix=None, Prefix=None, ActiveFlag='Y', CreateDate='05-07-2013 00:00', UpdateDate='10-07-2013 00:00', CreatedBy=100002, UpdatedBy=100002, GenderID=1, RaceCode='F6', Race Description='Asia', IdentityDocID='D13679', IdentityDocType='DL', RaceDetails=2),
 Row(Fname='Unmesh', Lname='Kanchan', Mname='L', DateOfBirth='20-10-1942', Suffix=None, Prefix=None, ActiveFlag='Y', CreateDate='06-07-2013 00:00', UpdateDate='11-07-2013 00:00', CreatedBy=100003, UpdatedBy=100003, GenderID=1, RaceCode='F7', Race Description='Spanish', IdentityDocID='D13680', IdentityDocType='DL', RaceDetails=3),
 Row(Fname='Sanjib', Lname='Nayak', Mname='L', DateOfBirth='21-10-1942', Suffix=None, Prefix=None, ActiveFlag='Y', CreateDate='07-07-2013 00:00', UpdateDate='12-07-2013 00:00', CreatedBy=100004, UpdatedBy=100004, GenderID=1, RaceCode='F8', Race Description='French', IdentityDocID='D13681', IdentityDocType='DL', RaceDetails=4),
 Row(Fname='Abigail', Lname='Abraham', Mname='L', DateOfBirth='22-10-1942', Suffix=None, Prefix=None, ActiveFlag='Y', CreateDate='08-07-2013 00:00', UpdateDate='13-07-2013 00:00', CreatedBy=100005, UpdatedBy=100005, GenderID=1, RaceCode='F9', Race Description='Black', IdentityDocID='1468779', IdentityDocType='SSN', RaceDetails=5)]

In [89]:
df_task1.show(5)

+-------+-------+-----+-----------+------+------+----------+----------------+----------------+---------+---------+--------+--------+----------------+-------------+---------------+-----------+
|  Fname|  Lname|Mname|DateOfBirth|Suffix|Prefix|ActiveFlag|      CreateDate|      UpdateDate|CreatedBy|UpdatedBy|GenderID|RaceCode|Race Description|IdentityDocID|IdentityDocType|RaceDetails|
+-------+-------+-----+-----------+------+------+----------+----------------+----------------+---------+---------+--------+--------+----------------+-------------+---------------+-----------+
|Abigail|Abraham|    L| 18-10-1942|  null|  null|         Y|04-07-2013 00:00|09-07-2013 00:00|   100001|   100001|       1|      F5|           Black|      1468779|            SSN|          1|
|   John|    Don|    L| 19-10-1942|  null|  null|         Y|05-07-2013 00:00|10-07-2013 00:00|   100002|   100002|       1|      F6|            Asia|       D13679|             DL|          2|
| Unmesh|Kanchan|    L| 20-10-1942|  null|  null|         Y|06-07-2013 00:00|11-07-2013 00:00|   100003|   100003|       1|      F7|         Spanish|       D13680|             DL|          3|
| Sanjib|  Nayak|    L| 21-10-1942|  null|  null|         Y|07-07-2013 00:00|12-07-2013 00:00|   100004|   100004|       1|      F8|          French|       D13681|             DL|          4|
|Abigail|Abraham|    L| 22-10-1942|  null|  null|         Y|08-07-2013 00:00|13-07-2013 00:00|   100005|   100005|       1|      F9|           Black|      1468779|            SSN|          5|
+-------+-------+-----+-----------+------+------+----------+----------------+----------------+---------+---------+--------+--------+----------------+-------------+---------------+-----------+
only showing top 5 rows

In [90]:
df_task1.describe()

DataFrame[summary: string, Fname: string, Lname: string, Mname: string, DateOfBirth: string, Suffix: string, Prefix: string, ActiveFlag: string, CreateDate: string, UpdateDate: string, CreatedBy: string, UpdatedBy: string, GenderID: string, RaceCode: string, Race Description: string, IdentityDocID: string, IdentityDocType: string, RaceDetails: string]

In [91]:
df_task1.printSchema()

root
 |-- Fname: string (nullable = true)
 |-- Lname: string (nullable = true)
 |-- Mname: string (nullable = true)
 |-- DateOfBirth: string (nullable = true)
 |-- Suffix: string (nullable = true)
 |-- Prefix: string (nullable = true)
 |-- ActiveFlag: string (nullable = true)
 |-- CreateDate: string (nullable = true)
 |-- UpdateDate: string (nullable = true)
 |-- CreatedBy: integer (nullable = true)
 |-- UpdatedBy: integer (nullable = true)
 |-- GenderID: integer (nullable = true)
 |-- RaceCode: string (nullable = true)
 |-- Race Description: string (nullable = true)
 |-- IdentityDocID: string (nullable = true)
 |-- IdentityDocType: string (nullable = true)
 |-- RaceDetails: integer (nullable = true)

In [101]:
df_task1 = spark.read.format('csv').load('C:/Users/HP/Downloads/sample_data.csv',header=True)

In [102]:
df_task1.columns

['Fname',
 'Lname',
 'Mname',
 'DateOfBirth',
 'Suffix',
 'Prefix',
 'ActiveFlag',
 'CreateDate',
 'UpdateDate',
 'CreatedBy',
 'UpdatedBy',
 'GenderID',
 'RaceCode',
 'Race Description',
 'IdentityDocID',
 'IdentityDocType',
 'RaceDetails']

In [106]:
df_task1['Fname',
 'Lname',
 'Mname',
 'person_ID' ].show()

AnalysisException: Column 'person_ID' does not exist. Did you mean one of the following? [GenderID, Fname, Lname, Mname, Prefix, CreateDate, CreatedBy, RaceCode, Suffix, UpdateDate, UpdatedBy, ActiveFlag, DateOfBirth, IdentityDocID, RaceDetails, IdentityDocType, Race Description];
'Project [Fname#13546, Lname#13547, Mname#13548, 'person_ID]
+- Relation [Fname#13546,Lname#13547,Mname#13548,DateOfBirth#13549,Suffix#13550,Prefix#13551,ActiveFlag#13552,CreateDate#13553,UpdateDate#13554,CreatedBy#13555,UpdatedBy#13556,GenderID#13557,RaceCode#13558,Race Description#13559,IdentityDocID#13560,IdentityDocType#13561,RaceDetails#13562] csv

In [119]:

from pyspark.sql.functions import *
df_task1.withColumn('CorrelationID',lit(''))

DataFrame[Fname: string, Lname: string, Mname: string, DateOfBirth: string, Suffix: string, Prefix: string, ActiveFlag: string, CreateDate: string, UpdateDate: string, CreatedBy: string, UpdatedBy: string, GenderID: string, RaceCode: string, Race Description: string, IdentityDocID: string, IdentityDocType: string, RaceDetails: string, CorrelationID: string]

In [122]:
df_task1.columns

['Fname',
 'Lname',
 'Mname',
 'DateOfBirth',
 'Suffix',
 'Prefix',
 'ActiveFlag',
 'CreateDate',
 'UpdateDate',
 'CreatedBy',
 'UpdatedBy',
 'GenderID',
 'RaceCode',
 'Race Description',
 'IdentityDocID',
 'IdentityDocType',
 'RaceDetails']

In [123]:
df_task1.show()

+-------+-------+-----+-----------+------+------+----------+----------------+----------------+---------+---------+--------+--------+----------------+-------------+---------------+-----------+
|  Fname|  Lname|Mname|DateOfBirth|Suffix|Prefix|ActiveFlag|      CreateDate|      UpdateDate|CreatedBy|UpdatedBy|GenderID|RaceCode|Race Description|IdentityDocID|IdentityDocType|RaceDetails|
+-------+-------+-----+-----------+------+------+----------+----------------+----------------+---------+---------+--------+--------+----------------+-------------+---------------+-----------+
|Abigail|Abraham|    L| 18-10-1942|  null|  null|         Y|04-07-2013 00:00|09-07-2013 00:00|   100001|   100001|       1|      F5|           Black|      1468779|            SSN|          1|
|   John|    Don|    L| 19-10-1942|  null|  null|         Y|05-07-2013 00:00|10-07-2013 00:00|   100002|   100002|       1|      F6|            Asia|       D13679|             DL|          2|
| Unmesh|Kanchan|    L| 20-10-1942|  null|  null|         Y|06-07-2013 00:00|11-07-2013 00:00|   100003|   100003|       1|      F7|         Spanish|       D13680|             DL|          3|
| Sanjib|  Nayak|    L| 21-10-1942|  null|  null|         Y|07-07-2013 00:00|12-07-2013 00:00|   100004|   100004|       1|      F8|          French|       D13681|             DL|          4|
|Abigail|Abraham|    L| 22-10-1942|  null|  null|         Y|08-07-2013 00:00|13-07-2013 00:00|   100005|   100005|       1|      F9|           Black|      1468779|            SSN|          5|
|  John1|   Don1|    L| 23-10-1942|  null|  null|         Y|09-07-2013 00:00|14-07-2013 00:00|   100006|   100006|       1|     F10|           White|      1468780|            SSN|          6|
|  John2|   Don2|    L| 24-10-1942|  null|  null|         Y|10-07-2013 00:00|15-07-2013 00:00|   100007|   100007|       1|    null|            null|         null|           null|       null|
|  John3|   Don3|    L| 25-10-1942|  null|  null|         Y|11-07-2013 00:00|16-07-2013 00:00|   100008|   100008|       1|    null|            null|         null|           null|       null|
| Sanjib|  Nayak|    L| 26-10-1942|  null|  null|         Y|12-07-2013 00:00|17-07-2013 00:00|   100009|   100009|       1|    null|            null|         null|           null|       null|
+-------+-------+-----+-----------+------+------+----------+----------------+----------------+---------+---------+--------+--------+----------------+-------------+---------------+-----------+

In [124]:
 df_task1.withColumn('new', lit(1))

DataFrame[Fname: string, Lname: string, Mname: string, DateOfBirth: string, Suffix: string, Prefix: string, ActiveFlag: string, CreateDate: string, UpdateDate: string, CreatedBy: string, UpdatedBy: string, GenderID: string, RaceCode: string, Race Description: string, IdentityDocID: string, IdentityDocType: string, RaceDetails: string, new: int]

In [126]:
df_task1.columns

['Fname',
 'Lname',
 'Mname',
 'DateOfBirth',
 'Suffix',
 'Prefix',
 'ActiveFlag',
 'CreateDate',
 'UpdateDate',
 'CreatedBy',
 'UpdatedBy',
 'GenderID',
 'RaceCode',
 'Race Description',
 'IdentityDocID',
 'IdentityDocType',
 'RaceDetails']

In [19]:
from pyspark.sql import *

In [133]:
df_task1.columns

['Fname',
 'Lname',
 'Mname',
 'DateOfBirth',
 'Suffix',
 'Prefix',
 'ActiveFlag',
 'CreateDate',
 'UpdateDate',
 'CreatedBy',
 'UpdatedBy',
 'GenderID',
 'RaceCode',
 'Race Description',
 'IdentityDocID',
 'IdentityDocType',
 'RaceDetails']

In [146]:
df_newsample = df_task1.withColumn("corelationId" , col(df_task1.UpdateDate + df_task1.CreatedBy).cast(integer()))

TypeError: Column is not iterable

In [135]:
df_newsample.columns

['Fname',
 'Lname',
 'Mname',
 'DateOfBirth',
 'Suffix',
 'Prefix',
 'ActiveFlag',
 'CreateDate',
 'UpdateDate',
 'CreatedBy',
 'UpdatedBy',
 'GenderID',
 'RaceCode',
 'Race Description',
 'IdentityDocID',
 'IdentityDocType',
 'RaceDetails',
 'corelationId']

In [140]:
df_newsample.select("corelationId").show

In [145]:
df_newsample.select('corelationId').show()

+------------+
|corelationId|
+------------+
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
|        null|
+------------+

In [147]:
df_newsample = df_task1.withColumn("corelationId" ,df_task1.UpdateDate + df_task1.CreatedBy)

TypeError: Column is not iterable

In [152]:
df_newsample.select(concat(df_newsample.CreateDate,df_newsample.CreatedBy )).show()

+-----------------------------+
|concat(CreatedBy, CreateDate)|
+-----------------------------+
|         10000104-07-2013 ...|
|         10000205-07-2013 ...|
|         10000306-07-2013 ...|
|         10000407-07-2013 ...|
|         10000508-07-2013 ...|
|         10000609-07-2013 ...|
|         10000710-07-2013 ...|
|         10000811-07-2013 ...|
|         10000912-07-2013 ...|
+-----------------------------+

In [169]:
df1 = df_newsample.withColumn('CreatedBy', translate('CreatedBy' ,'0000','-aa-'))

In [171]:
df1.select('CreatedBy').show()

+---------+
|CreatedBy|
+---------+
|   1----1|
|   1----2|
|   1----3|
|   1----4|
|   1----5|
|   1----6|
|   1----7|
|   1----8|
|   1----9|
+---------+

In [175]:
# window function 
df_pyspark.groupby('Age')

In [177]:
df_pyspark.columns

['Respondent',
 'MainBranch',
 'Hobbyist',
 'Age',
 'Age1stCode',
 'CompFreq',
 'CompTotal',
 'ConvertedComp',
 'Country',
 'CurrencyDesc',
 'CurrencySymbol',
 'DatabaseDesireNextYear',
 'DatabaseWorkedWith',
 'DevType',
 'EdLevel',
 'Employment',
 'Ethnicity',
 'Gender',
 'JobFactors',
 'JobSat',
 'JobSeek',
 'LanguageDesireNextYear',
 'LanguageWorkedWith',
 'MiscTechDesireNextYear',
 'MiscTechWorkedWith',
 'NEWCollabToolsDesireNextYear',
 'NEWCollabToolsWorkedWith',
 'NEWDevOps',
 'NEWDevOpsImpt',
 'NEWEdImpt',
 'NEWJobHunt',
 'NEWJobHuntResearch',
 'NEWLearn',
 'NEWOffTopic',
 'NEWOnboardGood',
 'NEWOtherComms',
 'NEWOvertime',
 'NEWPurchaseResearch',
 'NEWPurpleLink',
 'NEWSOSites',
 'NEWStuck',
 'OpSys',
 'OrgSize',
 'PlatformDesireNextYear',
 'PlatformWorkedWith',
 'PurchaseWhat',
 'Sexuality',
 'SOAccount',
 'SOComm',
 'SOPartFreq',
 'SOVisitFreq',
 'SurveyEase',
 'SurveyLength',
 'Trans',
 'UndergradMajor',
 'WebframeDesireNextYear',
 'WebframeWorkedWith',
 'WelcomeChange',
 'WorkWeekHrs',
 'YearsCode',
 'YearsCodePro']

In [193]:
df_pyspark.groupBy("Country").count().show()

+--------------------+-----+
|             Country|count|
+--------------------+-----+
|       Côte d'Ivoire|   17|
|            Paraguay|   26|
|The former Yugosl...|   38|
|               Yemen|    7|
|             Senegal|   26|
|              Sweden|  886|
|  Hong Kong (S.A.R.)|  111|
|   Republic of Korea|   88|
|         Philippines|  405|
|             Eritrea|    3|
|           Singapore|  228|
|            Malaysia|  231|
|              Turkey|  777|
|              Malawi|    8|
|                Iraq|   44|
|             Germany| 3890|
|         Afghanistan|   84|
|            Cambodia|   31|
|              Jordan|   57|
|            Maldives|   10|
+--------------------+-----+
only showing top 20 rows

In [200]:
pyspark.sql.window.WindowSpec.partitionBy(df_pyspark.Age)

TypeError: 'Column' object is not callable

In [202]:
from pyspark.sql.window import *
from pyspark.sql.functions import *

In [211]:
row_number().over(Window.partitionBy(df_pyspark['Age']).orderBy("Age").show

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_18480/3526637799.py, line 1)

In [217]:
df_pyspark.withColumn("windowfunctionrow_number" , row_number().over(Window.partitionBy("Age").orderBy("Age"))).show(truncate=False)

AnalysisException: Window function row_number() requires window to be ordered, please add ORDER BY clause. For example SELECT row_number()(value_expr) OVER (PARTITION BY window_partition ORDER BY window_ordering) from table

In [223]:
df_pyspark.withColumn('windowfunctionrank' , rank().over(Window.partitionBy("Age").orderBy('Age'))).show(1)

+----------+--------------------+--------+---+----------+--------+---------+-------------+-------------+------------+--------------+----------------------+------------------+-------+--------------------+----------+---------+------+----------+------+-------+----------------------+------------------+----------------------+------------------+----------------------------+------------------------+---------+-------------+---------+----------+------------------+--------------------+-----------+--------------+-------------+-----------+--------------------+-----------------+--------------------+--------------------+-----+-------+----------------------+------------------+------------+---------+---------+---------------+----------+--------------------+--------------------+--------------------+-----+--------------+----------------------+------------------+--------------------+-----------+---------+------------+------------------+
|Respondent|          MainBranch|Hobbyist|Age|Age1stCode|CompFreq|CompTotal|ConvertedComp|      Country|CurrencyDesc|CurrencySymbol|DatabaseDesireNextYear|DatabaseWorkedWith|DevType|             EdLevel|Employment|Ethnicity|Gender|JobFactors|JobSat|JobSeek|LanguageDesireNextYear|LanguageWorkedWith|MiscTechDesireNextYear|MiscTechWorkedWith|NEWCollabToolsDesireNextYear|NEWCollabToolsWorkedWith|NEWDevOps|NEWDevOpsImpt|NEWEdImpt|NEWJobHunt|NEWJobHuntResearch|            NEWLearn|NEWOffTopic|NEWOnboardGood|NEWOtherComms|NEWOvertime| NEWPurchaseResearch|    NEWPurpleLink|          NEWSOSites|            NEWStuck|OpSys|OrgSize|PlatformDesireNextYear|PlatformWorkedWith|PurchaseWhat|Sexuality|SOAccount|         SOComm|SOPartFreq|         SOVisitFreq|          SurveyEase|        SurveyLength|Trans|UndergradMajor|WebframeDesireNextYear|WebframeWorkedWith|       WelcomeChange|WorkWeekHrs|YearsCode|YearsCodePro|windowfunctionrank|
+----------+--------------------+--------+---+----------+--------+---------+-------------+-------------+------------+--------------+----------------------+------------------+-------+--------------------+----------+---------+------+----------+------+-------+----------------------+------------------+----------------------+------------------+----------------------------+------------------------+---------+-------------+---------+----------+------------------+--------------------+-----------+--------------+-------------+-----------+--------------------+-----------------+--------------------+--------------------+-----+-------+----------------------+------------------+------------+---------+---------+---------------+----------+--------------------+--------------------+--------------------+-----+--------------+----------------------+------------------+--------------------+-----------+---------+------------+------------------+
|       769|I code primarily ...|     Yes| 11|         9|      NA|       NA|           NA|United States|          NA|            NA|                    NA|                NA|     NA|Primary/elementar...|   Student|       NA|    NA|        NA|    NA|     NA|          Python;Swift|               C++|                    NA|                NA|                      Github|                  Github|       NA|           NA|       NA|        NA|                NA|Once every few years|   Not sure|            NA|           No|         NA|Start a free tria...|Hello, old friend|Stack Overflow (p...|Watch help / tuto...|MacOS|     NA|                    NA|                NA|          NA|       NA|       NA|Yes, definitely|        NA|I have never visi...|Neither easy nor ...|Appropriate in le...|   No|            NA|                    NA|                NA|Not applicable - ...|         NA|        3|          NA|                 1|
+----------+--------------------+--------+---+----------+--------+---------+-------------+-------------+------------+--------------+----------------------+------------------+-------+--------------------+----------+---------+------+----------+------+-------+----------------------+------------------+----------------------+------------------+----------------------------+------------------------+---------+-------------+---------+----------+------------------+--------------------+-----------+--------------+-------------+-----------+--------------------+-----------------+--------------------+--------------------+-----+-------+----------------------+------------------+------------+---------+---------+---------------+----------+--------------------+--------------------+--------------------+-----+--------------+----------------------+------------------+--------------------+-----------+---------+------------+------------------+
only showing top 1 row

In [6]:
df_nba = spark.read.csv('D:/spark dataset for practice/teams.csv',inferSchema= True, header=True)

In [230]:
df_nba.show()

+---------+----------+--------+--------+------------+-------------+-----------+------------+--------------------+-------------+--------------------+---------------+----------------+--------------------+
|LEAGUE_ID|   TEAM_ID|MIN_YEAR|MAX_YEAR|ABBREVIATION|     NICKNAME|YEARFOUNDED|        CITY|               ARENA|ARENACAPACITY|               OWNER| GENERALMANAGER|       HEADCOACH|  DLEAGUEAFFILIATION|
+---------+----------+--------+--------+------------+-------------+-----------+------------+--------------------+-------------+--------------------+---------------+----------------+--------------------+
|        0|1610612737|    1949|    2019|         ATL|        Hawks|       1949|     Atlanta|    State Farm Arena|        18729|        Tony Ressler| Travis Schlenk|    Lloyd Pierce|       Erie Bayhawks|
|        0|1610612738|    1946|    2019|         BOS|      Celtics|       1946|      Boston|           TD Garden|        18624|       Wyc Grousbeck|    Danny Ainge|    Brad Stevens|     Maine Red Claws|
|        0|1610612740|    2002|    2019|         NOP|     Pelicans|       2002| New Orleans|Smoothie King Center|         null|          Tom Benson| Trajan Langdon|    Alvin Gentry|        No Affiliate|
|        0|1610612741|    1966|    2019|         CHI|        Bulls|       1966|     Chicago|       United Center|        21711|     Jerry Reinsdorf|     Gar Forman|      Jim Boylen|    Windy City Bulls|
|        0|1610612742|    1980|    2019|         DAL|    Mavericks|       1980|      Dallas|American Airlines...|        19200|          Mark Cuban|  Donnie Nelson|   Rick Carlisle|       Texas Legends|
|        0|1610612743|    1976|    2019|         DEN|      Nuggets|       1976|      Denver|        Pepsi Center|        19099|        Stan Kroenke|   Tim Connelly|  Michael Malone|        No Affiliate|
|        0|1610612745|    1967|    2019|         HOU|      Rockets|       1967|     Houston|       Toyota Center|        18104|     Tilman Fertitta|    Daryl Morey|   Mike D'Antoni|Rio Grande Valley...|
|        0|1610612746|    1970|    2019|         LAC|     Clippers|       1970| Los Angeles|      Staples Center|        19060|       Steve Ballmer| Michael Winger|      Doc Rivers|Agua Caliente Cli...|
|        0|1610612747|    1948|    2019|         LAL|       Lakers|       1948| Los Angeles|      Staples Center|        19060|Jerry Buss Family...|    Rob Pelinka|     Frank Vogel|    South Bay Lakers|
|        0|1610612748|    1988|    2019|         MIA|         Heat|       1988|       Miami|AmericanAirlines ...|        19600|        Micky Arison|      Pat Riley|  Erik Spoelstra|Sioux Falls Skyforce|
|        0|1610612749|    1968|    2019|         MIL|        Bucks|       1968|   Milwaukee|        Fiserv Forum|        17500|Wesley Edens & Ma...|      Jon Horst|Mike Budenholzer|      Wisconsin Herd|
|        0|1610612750|    1989|    2019|         MIN| Timberwolves|       1989|   Minnesota|       Target Center|        19356|         Glen Taylor|   Scott Layden|   Ryan Saunders|         Iowa Wolves|
|        0|1610612751|    1976|    2019|         BKN|         Nets|       1976|    Brooklyn|     Barclays Center|         null|            Joe Tsai|     Sean Marks|  Kenny Atkinson|    Long Island Nets|
|        0|1610612752|    1946|    2019|         NYK|       Knicks|       1946|    New York|Madison Square Ga...|        19763|Cablevision (Jame...|    Steve Mills|   David Fizdale|  Westchester Knicks|
|        0|1610612753|    1989|    2019|         ORL|        Magic|       1989|     Orlando|        Amway Center|            0|          Rick DeVos|   John Hammond|  Steve Clifford|      Lakeland Magic|
|        0|1610612754|    1976|    2019|         IND|       Pacers|       1976|     Indiana|Bankers Life Fiel...|        18345|          Herb Simon|Kevin Pritchard|   Nate McMillan| Fort Wayne Mad Ants|
|        0|1610612755|    1949|    2019|         PHI|        76ers|       1949|Philadelphia|  Wells Fargo Center|         null|       Joshua Harris|    Elton Brand|     Brett Brown| Delaware Blue Coats|
|        0|1610612756|    1968|    2019|         PHX|         Suns|       1968|     Phoenix|Talking Stick Res...|         null|       Robert Sarver|    James Jones|  Monty Williams|Northern Arizona ...|
|        0|1610612757|    1970|    2019|         POR|Trail Blazers|       1970|    Portland|         Moda Center|        19980|          Paul Allen|    Neil Olshey|    Terry Stotts|        No Affiliate|
|        0|1610612758|    1948|    2019|         SAC|        Kings|       1948|  Sacramento|     Golden 1 Center|        17500|      Vivek Ranadive|    Vlade Divac|     Luke Walton|      Stockton Kings|
+---------+----------+--------+--------+------------+-------------+-----------+------------+--------------------+-------------+--------------------+---------------+----------------+--------------------+
only showing top 20 rows

In [234]:
df_nba.withColumn("avg" , avg("ARENACAPACITY").over(Window.partitionBy("ARENACAPACITY").orderBy("ARENACAPACITY"))).show()

+---------+----------+--------+--------+------------+------------+-----------+-------------+--------------------+-------------+--------------------+---------------+----------------+--------------------+-------+
|LEAGUE_ID|   TEAM_ID|MIN_YEAR|MAX_YEAR|ABBREVIATION|    NICKNAME|YEARFOUNDED|         CITY|               ARENA|ARENACAPACITY|               OWNER| GENERALMANAGER|       HEADCOACH|  DLEAGUEAFFILIATION|    avg|
+---------+----------+--------+--------+------------+------------+-----------+-------------+--------------------+-------------+--------------------+---------------+----------------+--------------------+-------+
|        0|1610612740|    2002|    2019|         NOP|    Pelicans|       2002|  New Orleans|Smoothie King Center|         null|          Tom Benson| Trajan Langdon|    Alvin Gentry|        No Affiliate|   null|
|        0|1610612751|    1976|    2019|         BKN|        Nets|       1976|     Brooklyn|     Barclays Center|         null|            Joe Tsai|     Sean Marks|  Kenny Atkinson|    Long Island Nets|   null|
|        0|1610612755|    1949|    2019|         PHI|       76ers|       1949| Philadelphia|  Wells Fargo Center|         null|       Joshua Harris|    Elton Brand|     Brett Brown| Delaware Blue Coats|   null|
|        0|1610612756|    1968|    2019|         PHX|        Suns|       1968|      Phoenix|Talking Stick Res...|         null|       Robert Sarver|    James Jones|  Monty Williams|Northern Arizona ...|   null|
|        0|1610612753|    1989|    2019|         ORL|       Magic|       1989|      Orlando|        Amway Center|            0|          Rick DeVos|   John Hammond|  Steve Clifford|      Lakeland Magic|    0.0|
|        0|1610612749|    1968|    2019|         MIL|       Bucks|       1968|    Milwaukee|        Fiserv Forum|        17500|Wesley Edens & Ma...|      Jon Horst|Mike Budenholzer|      Wisconsin Herd|17500.0|
|        0|1610612758|    1948|    2019|         SAC|       Kings|       1948|   Sacramento|     Golden 1 Center|        17500|      Vivek Ranadive|    Vlade Divac|     Luke Walton|      Stockton Kings|17500.0|
|        0|1610612745|    1967|    2019|         HOU|     Rockets|       1967|      Houston|       Toyota Center|        18104|     Tilman Fertitta|    Daryl Morey|   Mike D'Antoni|Rio Grande Valley...|18104.0|
|        0|1610612763|    1995|    2019|         MEM|   Grizzlies|       1995|      Memphis|          FedExForum|        18119|         Robert Pera|   Zach Kleiman|  Taylor Jenkins|      Memphis Hustle|18119.0|
|        0|1610612754|    1976|    2019|         IND|      Pacers|       1976|      Indiana|Bankers Life Fiel...|        18345|          Herb Simon|Kevin Pritchard|   Nate McMillan| Fort Wayne Mad Ants|18345.0|
|        0|1610612738|    1946|    2019|         BOS|     Celtics|       1946|       Boston|           TD Garden|        18624|       Wyc Grousbeck|    Danny Ainge|    Brad Stevens|     Maine Red Claws|18624.0|
|        0|1610612759|    1976|    2019|         SAS|       Spurs|       1976|  San Antonio|         AT&T Center|        18694|          Peter Holt|   Brian Wright|  Gregg Popovich|        Austin Spurs|18694.0|
|        0|1610612737|    1949|    2019|         ATL|       Hawks|       1949|      Atlanta|    State Farm Arena|        18729|        Tony Ressler| Travis Schlenk|    Lloyd Pierce|       Erie Bayhawks|18729.0|
|        0|1610612766|    1988|    2019|         CHA|     Hornets|       1988|    Charlotte|     Spectrum Center|        19026|      Michael Jordan|  Mitch Kupchak|   James Borrego|    Greensboro Swarm|19026.0|
|        0|1610612746|    1970|    2019|         LAC|    Clippers|       1970|  Los Angeles|      Staples Center|        19060|       Steve Ballmer| Michael Winger|      Doc Rivers|Agua Caliente Cli...|19060.0|
|        0|1610612747|    1948|    2019|         LAL|      Lakers|       1948|  Los Angeles|      Staples Center|        19060|Jerry Buss Family...|    Rob Pelinka|     Frank Vogel|    South Bay Lakers|19060.0|
|        0|1610612743|    1976|    2019|         DEN|     Nuggets|       1976|       Denver|        Pepsi Center|        19099|        Stan Kroenke|   Tim Connelly|  Michael Malone|        No Affiliate|19099.0|
|        0|1610612760|    1967|    2019|         OKC|     Thunder|       1967|Oklahoma City|Chesapeake Energy...|        19163|        Clay Bennett|     Sam Presti|   Billy Donovan|  Oklahoma City Blue|19163.0|
|        0|1610612742|    1980|    2019|         DAL|   Mavericks|       1980|       Dallas|American Airlines...|        19200|          Mark Cuban|  Donnie Nelson|   Rick Carlisle|       Texas Legends|19200.0|
|        0|1610612750|    1989|    2019|         MIN|Timberwolves|       1989|    Minnesota|       Target Center|        19356|         Glen Taylor|   Scott Layden|   Ryan Saunders|         Iowa Wolves|19356.0|
+---------+----------+--------+--------+------------+------------+-----------+-------------+--------------------+-------------+--------------------+---------------+----------------+--------------------+-------+
only showing top 20 rows

In [239]:
df_local = df_nba['TEAM_ID','MIN_YEAR','MAX_YEAR','NICKNAME','CITY','ARENACAPACITY']

In [240]:
df_local.show(1)

+----------+--------+--------+--------+-------+-------------+
|   TEAM_ID|MIN_YEAR|MAX_YEAR|NICKNAME|   CITY|ARENACAPACITY|
+----------+--------+--------+--------+-------+-------------+
|1610612737|    1949|    2019|   Hawks|Atlanta|        18729|
+----------+--------+--------+--------+-------+-------------+
only showing top 1 row

In [241]:
df_local.withColumn('ARENACAPACITY avg', avg("ARENACAPACITY").over(Window.partitionBy('ARENACAPACITY').orderBy('CITY'))).show()

+----------+--------+--------+------------+-------------+-------------+-----------------+
|   TEAM_ID|MIN_YEAR|MAX_YEAR|    NICKNAME|         CITY|ARENACAPACITY|ARENACAPACITY avg|
+----------+--------+--------+------------+-------------+-------------+-----------------+
|1610612751|    1976|    2019|        Nets|     Brooklyn|         null|             null|
|1610612740|    2002|    2019|    Pelicans|  New Orleans|         null|             null|
|1610612755|    1949|    2019|       76ers| Philadelphia|         null|             null|
|1610612756|    1968|    2019|        Suns|      Phoenix|         null|             null|
|1610612753|    1989|    2019|       Magic|      Orlando|            0|              0.0|
|1610612749|    1968|    2019|       Bucks|    Milwaukee|        17500|          17500.0|
|1610612758|    1948|    2019|       Kings|   Sacramento|        17500|          17500.0|
|1610612745|    1967|    2019|     Rockets|      Houston|        18104|          18104.0|
|1610612763|    1995|    2019|   Grizzlies|      Memphis|        18119|          18119.0|
|1610612754|    1976|    2019|      Pacers|      Indiana|        18345|          18345.0|
|1610612738|    1946|    2019|     Celtics|       Boston|        18624|          18624.0|
|1610612759|    1976|    2019|       Spurs|  San Antonio|        18694|          18694.0|
|1610612737|    1949|    2019|       Hawks|      Atlanta|        18729|          18729.0|
|1610612766|    1988|    2019|     Hornets|    Charlotte|        19026|          19026.0|
|1610612746|    1970|    2019|    Clippers|  Los Angeles|        19060|          19060.0|
|1610612747|    1948|    2019|      Lakers|  Los Angeles|        19060|          19060.0|
|1610612743|    1976|    2019|     Nuggets|       Denver|        19099|          19099.0|
|1610612760|    1967|    2019|     Thunder|Oklahoma City|        19163|          19163.0|
|1610612742|    1980|    2019|   Mavericks|       Dallas|        19200|          19200.0|
|1610612750|    1989|    2019|Timberwolves|    Minnesota|        19356|          19356.0|
+----------+--------+--------+------------+-------------+-------------+-----------------+
only showing top 20 rows

In [242]:
df_newsample.columns

['Fname',
 'Lname',
 'Mname',
 'DateOfBirth',
 'Suffix',
 'Prefix',
 'ActiveFlag',
 'CreateDate',
 'UpdateDate',
 'CreatedBy',
 'UpdatedBy',
 'GenderID',
 'RaceCode',
 'Race Description',
 'IdentityDocID',
 'IdentityDocType',
 'RaceDetails',
 'corelationId']

In [245]:
df_task2 = df_newsample['RaceCode','Race Description','RaceDetails']

In [246]:
df_task2.show()

+--------+----------------+-----------+
|RaceCode|Race Description|RaceDetails|
+--------+----------------+-----------+
|      F5|           Black|          1|
|      F6|            Asia|          2|
|      F7|         Spanish|          3|
|      F8|          French|          4|
|      F9|           Black|          5|
|     F10|           White|          6|
|    null|            null|       null|
|    null|            null|       null|
|    null|            null|       null|
+--------+----------------+-----------+

df_task2.withColumn("Avg",sum("RaceCode").over(Window.partitionBy("RaceCode")))

In [253]:
df_task2.withColumn("Avg",sum("RaceCode").over(Window.partitionBy("RaceCode").orderBy('RaceDetails'))).show()

+--------+----------------+-----------+----+
|RaceCode|Race Description|RaceDetails| Avg|
+--------+----------------+-----------+----+
|    null|            null|       null|null|
|    null|            null|       null|null|
|    null|            null|       null|null|
|     F10|           White|          6|null|
|      F5|           Black|          1|null|
|      F6|            Asia|          2|null|
|      F7|         Spanish|          3|null|
|      F8|          French|          4|null|
|      F9|           Black|          5|null|
+--------+----------------+-----------+----+

In [256]:
df_task2.withColumn("sum", sum("RaceDetails").over(Window.partitionBy("RaceCode").orderBy('RaceDetails'))).show()

+--------+----------------+-----------+----+
|RaceCode|Race Description|RaceDetails| sum|
+--------+----------------+-----------+----+
|    null|            null|       null|null|
|    null|            null|       null|null|
|    null|            null|       null|null|
|     F10|           White|          6| 6.0|
|      F5|           Black|          1| 1.0|
|      F6|            Asia|          2| 2.0|
|      F7|         Spanish|          3| 3.0|
|      F8|          French|          4| 4.0|
|      F9|           Black|          5| 5.0|
+--------+----------------+-----------+----+

In [264]:
df_nba.withColumn('sum groupby', df_nba.groupBy("MIN_YEAR").agg('MIN_YEAR':'sum')).show()

SyntaxError: invalid syntax (Temp/ipykernel_18480/5603125.py, line 1)

In [271]:
df_nba.groupBy("MIN_YEAR").agg({'MIN_YEAR':'sum'}).show()

+--------+-------------+
|MIN_YEAR|sum(MIN_YEAR)|
+--------+-------------+
|    1974|         1974|
|    1961|         1961|
|    1988|         3976|
|    1968|         3936|
|    1946|         5838|
|    1949|         3898|
|    1966|         1966|
|    1967|         3934|
|    1989|         3978|
|    1970|         5910|
|    1995|         3990|
|    1980|         1980|
|    1976|         7904|
|    1948|         5844|
|    2002|         2002|
+--------+-------------+

In [ ]:
df_nba.df_nba.groupBy("MIN_YEAR").agg({'MIN_YEAR':'sum'}).show() # actually grooup  by wworks by creating a grouped object 
#and then we can use that grouped object to perform varoius operatio on that data. we cannot 
#directly assign this object to a column because it doesnt return equal =no of rows as the original data
#as we know that groupBy reduces the no of rows so instead we use partitionby which returns the window for each row

In [317]:
(df_nba.groupBy("NICKNAME").agg({'MIN_YEAR':'max'}).orderBy(['max(MIN_YEAR)'])).show()

+-------------+-------------+
|     NICKNAME|max(MIN_YEAR)|
+-------------+-------------+
|      Celtics|         1946|
|       Knicks|         1946|
|     Warriors|         1946|
|        Kings|         1948|
|       Lakers|         1948|
|      Pistons|         1948|
|        Hawks|         1949|
|        76ers|         1949|
|      Wizards|         1961|
|        Bulls|         1966|
|      Rockets|         1967|
|      Thunder|         1967|
|        Bucks|         1968|
|         Suns|         1968|
|     Clippers|         1970|
|    Cavaliers|         1970|
|Trail Blazers|         1970|
|         Jazz|         1974|
|       Pacers|         1976|
|         Nets|         1976|
+-------------+-------------+
only showing top 20 rows

In [320]:
x = (df_nba.groupBy("NICKNAME").agg({'MIN_YEAR':'max'}).orderBy(['max(MIN_YEAR)']))

In [323]:
type(x)

pyspark.sql.dataframe.DataFrame

In [395]:
x.columns

['NICKNAME', 'max(MIN_YEAR)']

In [316]:
df_nba.agg({'MIN_YEAR':'max'}).orderBy(['max(MIN_YEAR)']).show()

+-------------+
|max(MIN_YEAR)|
+-------------+
|         2002|
+-------------+

In [329]:
x.withColumns({'NICKNAME': df_nba.NICKNAME , 'max(MIN_YEAR)' : x['max(MIN_YEAR)'] }).show()

+-------------+-------------+
|     NICKNAME|max(MIN_YEAR)|
+-------------+-------------+
|      Celtics|         1946|
|       Knicks|         1946|
|     Warriors|         1946|
|        Kings|         1948|
|       Lakers|         1948|
|      Pistons|         1948|
|        Hawks|         1949|
|        76ers|         1949|
|      Wizards|         1961|
|        Bulls|         1966|
|      Rockets|         1967|
|      Thunder|         1967|
|        Bucks|         1968|
|         Suns|         1968|
|     Clippers|         1970|
|    Cavaliers|         1970|
|Trail Blazers|         1970|
|         Jazz|         1974|
|       Pacers|         1976|
|         Nets|         1976|
+-------------+-------------+
only showing top 20 rows

In [331]:
x.withColumns({ "CITY" : df_nba['CITY']}).show()

AnalysisException: Resolved attribute(s) CITY#18277 missing from NICKNAME#18275,max(MIN_YEAR)#19899 in operator !Project [NICKNAME#18275, max(MIN_YEAR)#19899, CITY#18277 AS CITY#19984].;
!Project [NICKNAME#18275, max(MIN_YEAR)#19899, CITY#18277 AS CITY#19984]
+- Sort [max(MIN_YEAR)#19899 ASC NULLS FIRST], true
   +- Aggregate [NICKNAME#18275], [NICKNAME#18275, max(MIN_YEAR#18272) AS max(MIN_YEAR)#19899]
      +- Relation [LEAGUE_ID#18270,TEAM_ID#18271,MIN_YEAR#18272,MAX_YEAR#18273,ABBREVIATION#18274,NICKNAME#18275,YEARFOUNDED#18276,CITY#18277,ARENA#18278,ARENACAPACITY#18279,OWNER#18280,GENERALMANAGER#18281,HEADCOACH#18282,DLEAGUEAFFILIATION#18283] csv

In [351]:
df_nba.select(df_nba['NICKNAME'],df_nba['CITY'],df_nba['MIN_YEAR']).orderBy("MIN_YEAR").show()

+-------------+-------------+--------+
|     NICKNAME|         CITY|MIN_YEAR|
+-------------+-------------+--------+
|     Warriors| Golden State|    1946|
|       Knicks|     New York|    1946|
|      Celtics|       Boston|    1946|
|       Lakers|  Los Angeles|    1948|
|      Pistons|      Detroit|    1948|
|        Kings|   Sacramento|    1948|
|        Hawks|      Atlanta|    1949|
|        76ers| Philadelphia|    1949|
|      Wizards|   Washington|    1961|
|        Bulls|      Chicago|    1966|
|      Thunder|Oklahoma City|    1967|
|      Rockets|      Houston|    1967|
|        Bucks|    Milwaukee|    1968|
|         Suns|      Phoenix|    1968|
|     Clippers|  Los Angeles|    1970|
|Trail Blazers|     Portland|    1970|
|    Cavaliers|    Cleveland|    1970|
|         Jazz|         Utah|    1974|
|      Nuggets|       Denver|    1976|
|         Nets|     Brooklyn|    1976|
+-------------+-------------+--------+
only showing top 20 rows

In [355]:
df_nba.select(df_nba['NICKNAME'],df_nba['CITY'],df_nba['MIN_YEAR']).orderBy('MIN_YEAR', ascending = False).show()

+-------------+-------------+--------+
|     NICKNAME|         CITY|MIN_YEAR|
+-------------+-------------+--------+
|     Pelicans|  New Orleans|    2002|
|    Grizzlies|      Memphis|    1995|
|      Raptors|      Toronto|    1995|
| Timberwolves|    Minnesota|    1989|
|        Magic|      Orlando|    1989|
|      Hornets|    Charlotte|    1988|
|         Heat|        Miami|    1988|
|    Mavericks|       Dallas|    1980|
|        Spurs|  San Antonio|    1976|
|         Nets|     Brooklyn|    1976|
|      Nuggets|       Denver|    1976|
|       Pacers|      Indiana|    1976|
|         Jazz|         Utah|    1974|
|Trail Blazers|     Portland|    1970|
|     Clippers|  Los Angeles|    1970|
|    Cavaliers|    Cleveland|    1970|
|         Suns|      Phoenix|    1968|
|        Bucks|    Milwaukee|    1968|
|      Rockets|      Houston|    1967|
|      Thunder|Oklahoma City|    1967|
+-------------+-------------+--------+
only showing top 20 rows

In [363]:
df_nba.select(df_nba['NICKNAME'],df_nba['CITY'],df_nba['MIN_YEAR']).orderBy('MIN_YEAR','NICKNAME', ascending =[ True , False]).show()

+-------------+-------------+--------+
|     NICKNAME|         CITY|MIN_YEAR|
+-------------+-------------+--------+
|     Warriors| Golden State|    1946|
|       Knicks|     New York|    1946|
|      Celtics|       Boston|    1946|
|      Pistons|      Detroit|    1948|
|       Lakers|  Los Angeles|    1948|
|        Kings|   Sacramento|    1948|
|        Hawks|      Atlanta|    1949|
|        76ers| Philadelphia|    1949|
|      Wizards|   Washington|    1961|
|        Bulls|      Chicago|    1966|
|      Thunder|Oklahoma City|    1967|
|      Rockets|      Houston|    1967|
|         Suns|      Phoenix|    1968|
|        Bucks|    Milwaukee|    1968|
|Trail Blazers|     Portland|    1970|
|     Clippers|  Los Angeles|    1970|
|    Cavaliers|    Cleveland|    1970|
|         Jazz|         Utah|    1974|
|        Spurs|  San Antonio|    1976|
|       Pacers|      Indiana|    1976|
+-------------+-------------+--------+
only showing top 20 rows

In [365]:
df_nba.select(df_nba['NICKNAME'],df_nba['CITY'],df_nba['MIN_YEAR'],df_nba['pg'].alias(['pg']))

AnalysisException: Cannot resolve column name "pg" among (LEAGUE_ID, TEAM_ID, MIN_YEAR, MAX_YEAR, ABBREVIATION, NICKNAME, YEARFOUNDED, CITY, ARENA, ARENACAPACITY, OWNER, GENERALMANAGER, HEADCOACH, DLEAGUEAFFILIATION)

In [380]:
df_nba.withColumns({'NICKNAME'  , df_nba.columns[6] })

TypeError: colsMap must be dict of column name and column.

In [393]:
df_nba.withColumn("pg" , lit("pg_name")).show()

+---------+----------+--------+--------+------------+-------------+-----------+------------+--------------------+-------------+--------------------+---------------+----------------+--------------------+-------+
|LEAGUE_ID|   TEAM_ID|MIN_YEAR|MAX_YEAR|ABBREVIATION|     NICKNAME|YEARFOUNDED|        CITY|               ARENA|ARENACAPACITY|               OWNER| GENERALMANAGER|       HEADCOACH|  DLEAGUEAFFILIATION|     pg|
+---------+----------+--------+--------+------------+-------------+-----------+------------+--------------------+-------------+--------------------+---------------+----------------+--------------------+-------+
|        0|1610612737|    1949|    2019|         ATL|        Hawks|       1949|     Atlanta|    State Farm Arena|        18729|        Tony Ressler| Travis Schlenk|    Lloyd Pierce|       Erie Bayhawks|pg_name|
|        0|1610612738|    1946|    2019|         BOS|      Celtics|       1946|      Boston|           TD Garden|        18624|       Wyc Grousbeck|    Danny Ainge|    Brad Stevens|     Maine Red Claws|pg_name|
|        0|1610612740|    2002|    2019|         NOP|     Pelicans|       2002| New Orleans|Smoothie King Center|         null|          Tom Benson| Trajan Langdon|    Alvin Gentry|        No Affiliate|pg_name|
|        0|1610612741|    1966|    2019|         CHI|        Bulls|       1966|     Chicago|       United Center|        21711|     Jerry Reinsdorf|     Gar Forman|      Jim Boylen|    Windy City Bulls|pg_name|
|        0|1610612742|    1980|    2019|         DAL|    Mavericks|       1980|      Dallas|American Airlines...|        19200|          Mark Cuban|  Donnie Nelson|   Rick Carlisle|       Texas Legends|pg_name|
|        0|1610612743|    1976|    2019|         DEN|      Nuggets|       1976|      Denver|        Pepsi Center|        19099|        Stan Kroenke|   Tim Connelly|  Michael Malone|        No Affiliate|pg_name|
|        0|1610612745|    1967|    2019|         HOU|      Rockets|       1967|     Houston|       Toyota Center|        18104|     Tilman Fertitta|    Daryl Morey|   Mike D'Antoni|Rio Grande Valley...|pg_name|
|        0|1610612746|    1970|    2019|         LAC|     Clippers|       1970| Los Angeles|      Staples Center|        19060|       Steve Ballmer| Michael Winger|      Doc Rivers|Agua Caliente Cli...|pg_name|
|        0|1610612747|    1948|    2019|         LAL|       Lakers|       1948| Los Angeles|      Staples Center|        19060|Jerry Buss Family...|    Rob Pelinka|     Frank Vogel|    South Bay Lakers|pg_name|
|        0|1610612748|    1988|    2019|         MIA|         Heat|       1988|       Miami|AmericanAirlines ...|        19600|        Micky Arison|      Pat Riley|  Erik Spoelstra|Sioux Falls Skyforce|pg_name|
|        0|1610612749|    1968|    2019|         MIL|        Bucks|       1968|   Milwaukee|        Fiserv Forum|        17500|Wesley Edens & Ma...|      Jon Horst|Mike Budenholzer|      Wisconsin Herd|pg_name|
|        0|1610612750|    1989|    2019|         MIN| Timberwolves|       1989|   Minnesota|       Target Center|        19356|         Glen Taylor|   Scott Layden|   Ryan Saunders|         Iowa Wolves|pg_name|
|        0|1610612751|    1976|    2019|         BKN|         Nets|       1976|    Brooklyn|     Barclays Center|         null|            Joe Tsai|     Sean Marks|  Kenny Atkinson|    Long Island Nets|pg_name|
|        0|1610612752|    1946|    2019|         NYK|       Knicks|       1946|    New York|Madison Square Ga...|        19763|Cablevision (Jame...|    Steve Mills|   David Fizdale|  Westchester Knicks|pg_name|
|        0|1610612753|    1989|    2019|         ORL|        Magic|       1989|     Orlando|        Amway Center|            0|          Rick DeVos|   John Hammond|  Steve Clifford|      Lakeland Magic|pg_name|
|        0|1610612754|    1976|    2019|         IND|       Pacers|       1976|     Indiana|Bankers Life Fiel...|        18345|          Herb Simon|Kevin Pritchard|   Nate McMillan| Fort Wayne Mad Ants|pg_name|
|        0|1610612755|    1949|    2019|         PHI|        76ers|       1949|Philadelphia|  Wells Fargo Center|         null|       Joshua Harris|    Elton Brand|     Brett Brown| Delaware Blue Coats|pg_name|
|        0|1610612756|    1968|    2019|         PHX|         Suns|       1968|     Phoenix|Talking Stick Res...|         null|       Robert Sarver|    James Jones|  Monty Williams|Northern Arizona ...|pg_name|
|        0|1610612757|    1970|    2019|         POR|Trail Blazers|       1970|    Portland|         Moda Center|        19980|          Paul Allen|    Neil Olshey|    Terry Stotts|        No Affiliate|pg_name|
|        0|1610612758|    1948|    2019|         SAC|        Kings|       1948|  Sacramento|     Golden 1 Center|        17500|      Vivek Ranadive|    Vlade Divac|     Luke Walton|      Stockton Kings|pg_name|
+---------+----------+--------+--------+------------+-------------+-----------+------------+--------------------+-------------+--------------------+---------------+----------------+--------------------+-------+
only showing top 20 rows

['LEAGUE_ID',
 'TEAM_ID',
 'MIN_YEAR',
 'MAX_YEAR',
 'ABBREVIATION',
 'NICKNAME',
 'YEARFOUNDED',
 'CITY',
 'ARENA',
 'ARENACAPACITY',
 'OWNER',
 'GENERALMANAGER',
 'HEADCOACH',
 'DLEAGUEAFFILIATION']

In [394]:
df_nba.show(1)

+---------+----------+--------+--------+------------+--------+-----------+-------+----------------+-------------+------------+--------------+------------+------------------+
|LEAGUE_ID|   TEAM_ID|MIN_YEAR|MAX_YEAR|ABBREVIATION|NICKNAME|YEARFOUNDED|   CITY|           ARENA|ARENACAPACITY|       OWNER|GENERALMANAGER|   HEADCOACH|DLEAGUEAFFILIATION|
+---------+----------+--------+--------+------------+--------+-----------+-------+----------------+-------------+------------+--------------+------------+------------------+
|        0|1610612737|    1949|    2019|         ATL|   Hawks|       1949|Atlanta|State Farm Arena|        18729|Tony Ressler|Travis Schlenk|Lloyd Pierce|     Erie Bayhawks|
+---------+----------+--------+--------+------------+--------+-----------+-------+----------------+-------------+------------+--------------+------------+------------------+
only showing top 1 row

In [404]:
df_nba.select(df_nba['NICKNAME'],df_nba['CITY'],df_nba['MIN_YEAR']).groupBy('CITY').sum().show(30)

+-------------+-------------+
|         CITY|sum(MIN_YEAR)|
+-------------+-------------+
|         Utah|         1974|
|      Phoenix|         1968|
|    Minnesota|         1989|
|       Dallas|         1980|
|  San Antonio|         1976|
| Philadelphia|         1949|
|  Los Angeles|         3918|
|   Sacramento|         1948|
|    Cleveland|         1970|
|Oklahoma City|         1967|
|      Detroit|         1948|
|     Portland|         1970|
|      Memphis|         1995|
|   Washington|         1961|
|    Milwaukee|         1968|
|      Chicago|         1966|
| Golden State|         1946|
|      Toronto|         1995|
|      Atlanta|         1949|
|  New Orleans|         2002|
|     Brooklyn|         1976|
|      Houston|         1967|
|      Indiana|         1976|
|        Miami|         1988|
|      Orlando|         1989|
|     New York|         1946|
|    Charlotte|         1988|
|       Denver|         1976|
|       Boston|         1946|
+-------------+-------------+

In [405]:
df_nba.show

<bound method DataFrame.show of DataFrame[LEAGUE_ID: int, TEAM_ID: int, MIN_YEAR: int, MAX_YEAR: int, ABBREVIATION: string, NICKNAME: string, YEARFOUNDED: int, CITY: string, ARENA: string, ARENACAPACITY: int, OWNER: string, GENERALMANAGER: string, HEADCOACH: string, DLEAGUEAFFILIATION: string]>

In [406]:
df_local.show()

+----------+--------+--------+-------------+------------+-------------+
|   TEAM_ID|MIN_YEAR|MAX_YEAR|     NICKNAME|        CITY|ARENACAPACITY|
+----------+--------+--------+-------------+------------+-------------+
|1610612737|    1949|    2019|        Hawks|     Atlanta|        18729|
|1610612738|    1946|    2019|      Celtics|      Boston|        18624|
|1610612740|    2002|    2019|     Pelicans| New Orleans|         null|
|1610612741|    1966|    2019|        Bulls|     Chicago|        21711|
|1610612742|    1980|    2019|    Mavericks|      Dallas|        19200|
|1610612743|    1976|    2019|      Nuggets|      Denver|        19099|
|1610612745|    1967|    2019|      Rockets|     Houston|        18104|
|1610612746|    1970|    2019|     Clippers| Los Angeles|        19060|
|1610612747|    1948|    2019|       Lakers| Los Angeles|        19060|
|1610612748|    1988|    2019|         Heat|       Miami|        19600|
|1610612749|    1968|    2019|        Bucks|   Milwaukee|        17500|
|1610612750|    1989|    2019| Timberwolves|   Minnesota|        19356|
|1610612751|    1976|    2019|         Nets|    Brooklyn|         null|
|1610612752|    1946|    2019|       Knicks|    New York|        19763|
|1610612753|    1989|    2019|        Magic|     Orlando|            0|
|1610612754|    1976|    2019|       Pacers|     Indiana|        18345|
|1610612755|    1949|    2019|        76ers|Philadelphia|         null|
|1610612756|    1968|    2019|         Suns|     Phoenix|         null|
|1610612757|    1970|    2019|Trail Blazers|    Portland|        19980|
|1610612758|    1948|    2019|        Kings|  Sacramento|        17500|
+----------+--------+--------+-------------+------------+-------------+
only showing top 20 rows

In [423]:
df_local.withColumn('PG', lit('Dammian lillard ')).where(df_local.MAX_YEAR > 2008).where(df_local['NICKNAME'] == 'Trail Blazers').show(10)

+----------+--------+--------+-------------+--------+-------------+----------------+
|   TEAM_ID|MIN_YEAR|MAX_YEAR|     NICKNAME|    CITY|ARENACAPACITY|              PG|
+----------+--------+--------+-------------+--------+-------------+----------------+
|1610612757|    1970|    2019|Trail Blazers|Portland|        19980|Dammian lillard |
+----------+--------+--------+-------------+--------+-------------+----------------+

In [451]:
df_local.filter((df_local['MIN_YEAR'] >= 1980) & (df_local['MAX_YEAR'] >= 2017) ).orderBy('NICKNAME').orderBy('CITY').show()

+----------+--------+--------+------------+-----------+-------------+
|   TEAM_ID|MIN_YEAR|MAX_YEAR|    NICKNAME|       CITY|ARENACAPACITY|
+----------+--------+--------+------------+-----------+-------------+
|1610612766|    1988|    2019|     Hornets|  Charlotte|        19026|
|1610612742|    1980|    2019|   Mavericks|     Dallas|        19200|
|1610612763|    1995|    2019|   Grizzlies|    Memphis|        18119|
|1610612748|    1988|    2019|        Heat|      Miami|        19600|
|1610612750|    1989|    2019|Timberwolves|  Minnesota|        19356|
|1610612740|    2002|    2019|    Pelicans|New Orleans|         null|
|1610612753|    1989|    2019|       Magic|    Orlando|            0|
|1610612761|    1995|    2019|     Raptors|    Toronto|        19800|
+----------+--------+--------+------------+-----------+-------------+

In [18]:
from pyspark.sql import *

In [4]:
mydata = [('PHONE' , 'SAMSUNG', '15000'),
       ('PHONE', 'APPPLE', '80000'),
       ('PHONE', 'NOKIA', '10000'),
       ('TV', 'SONY', '110000'),
       ('TV', 'MI', '50000'),
       ('AC', 'HITACHI', '30000' ),
       ('AC', 'GODREJ', '20000')]
mySchema = ["PRODUCT" , "COMPANY" , "PRICE"]

In [5]:
df_products = spark.createDataFrame(data=mydata , schema=mySchema)

In [6]:
type(df_products)

pyspark.sql.dataframe.DataFrame

In [7]:
df_nba.show

NameError: name 'df_nba' is not defined

In [8]:
df_products.columns

['PRODUCT', 'COMPANY', 'PRICE']

In [9]:
df_products.show

In [10]:
df_products.show()

+-------+-------+------+
|PRODUCT|COMPANY| PRICE|
+-------+-------+------+
|  PHONE|SAMSUNG| 15000|
|  PHONE| APPPLE| 80000|
|  PHONE|  NOKIA| 10000|
|     TV|   SONY|110000|
|     TV|     MI| 50000|
|     AC|HITACHI| 30000|
|     AC| GODREJ| 20000|
+-------+-------+------+

In [88]:
df_sample.count()

9

In [141]:
df_sample = spark.read.csv('C:/Users/HP/Downloads/sample_data.csv').withColumn('Corelation_ID', concat(lit('ab') , monotonically_increasing_id()))

In [142]:
df_sample.show()

+-------+-------+-----+-----------+------+------+----------+----------------+----------------+---------+---------+--------+--------+----------------+-------------+---------------+-----------+-------------+
|    _c0|    _c1|  _c2|        _c3|   _c4|   _c5|       _c6|             _c7|             _c8|      _c9|     _c10|    _c11|    _c12|            _c13|         _c14|           _c15|       _c16|Corelation_ID|
+-------+-------+-----+-----------+------+------+----------+----------------+----------------+---------+---------+--------+--------+----------------+-------------+---------------+-----------+-------------+
|  Fname|  Lname|Mname|DateOfBirth|Suffix|Prefix|ActiveFlag|      CreateDate|      UpdateDate|CreatedBy|UpdatedBy|GenderID|RaceCode|Race Description|IdentityDocID|IdentityDocType|RaceDetails|          ab0|
|Abigail|Abraham|    L| 18-10-1942|  null|  null|         Y|04-07-2013 00:00|09-07-2013 00:00|   100001|   100001|       1|      F5|           Black|      1468779|            SSN|          1|          ab1|
|   John|    Don|    L| 19-10-1942|  null|  null|         Y|05-07-2013 00:00|10-07-2013 00:00|   100002|   100002|       1|      F6|            Asia|       D13679|             DL|          2|          ab2|
| Unmesh|Kanchan|    L| 20-10-1942|  null|  null|         Y|06-07-2013 00:00|11-07-2013 00:00|   100003|   100003|       1|      F7|         Spanish|       D13680|             DL|          3|          ab3|
| Sanjib|  Nayak|    L| 21-10-1942|  null|  null|         Y|07-07-2013 00:00|12-07-2013 00:00|   100004|   100004|       1|      F8|          French|       D13681|             DL|          4|          ab4|
|Abigail|Abraham|    L| 22-10-1942|  null|  null|         Y|08-07-2013 00:00|13-07-2013 00:00|   100005|   100005|       1|      F9|           Black|      1468779|            SSN|          5|          ab5|
|  John1|   Don1|    L| 23-10-1942|  null|  null|         Y|09-07-2013 00:00|14-07-2013 00:00|   100006|   100006|       1|     F10|           White|      1468780|            SSN|          6|          ab6|
|  John2|   Don2|    L| 24-10-1942|  null|  null|         Y|10-07-2013 00:00|15-07-2013 00:00|   100007|   100007|       1|    null|            null|         null|           null|       null|          ab7|
|  John3|   Don3|    L| 25-10-1942|  null|  null|         Y|11-07-2013 00:00|16-07-2013 00:00|   100008|   100008|       1|    null|            null|         null|           null|       null|          ab8|
| Sanjib|  Nayak|    L| 26-10-1942|  null|  null|         Y|12-07-2013 00:00|17-07-2013 00:00|   100009|   100009|       1|    null|            null|         null|           null|       null|          ab9|
+-------+-------+-----+-----------+------+------+----------+----------------+----------------+---------+---------+--------+--------+----------------+-------------+---------------+-----------+-------------+

In [143]:
df_sample.show

<bound method DataFrame.show of DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, Corelation_ID: string]>

In [144]:
df_sample.columns

['_c0',
 '_c1',
 '_c2',
 '_c3',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8',
 '_c9',
 '_c10',
 '_c11',
 '_c12',
 '_c13',
 '_c14',
 '_c15',
 '_c16',
 'Corelation_ID']

In [145]:
df_sample.select('Corelation_ID').show()

+-------------+
|Corelation_ID|
+-------------+
|          ab0|
|          ab1|
|          ab2|
|          ab3|
|          ab4|
|          ab5|
|          ab6|
|          ab7|
|          ab8|
|          ab9|
+-------------+

In [20]:
from pyspark.sql.functions import *

In [73]:
df_sample_Person = df_sample['Fname',
 'Lname',
 'Mname',
 'DateOfBirth',
 'Suffix',
 'Prefix',
 'ActiveFlag',
 'CreateDate',
 'UpdateDate',
 'CreatedBy',
 'UpdatedBy',
 'GenderID'].withColumn('Corelation_ID' , concat( lit('ab') , pyspark.sql.functions.monotonically_increasing_id().cast('string')))

In [74]:
df_sample_Person.columns

['Fname',
 'Lname',
 'Mname',
 'DateOfBirth',
 'Suffix',
 'Prefix',
 'ActiveFlag',
 'CreateDate',
 'UpdateDate',
 'CreatedBy',
 'UpdatedBy',
 'GenderID',
 'Corelation_ID']

In [75]:
df_sample_Person.select('Corelation_ID').show()

+-------------+
|Corelation_ID|
+-------------+
|          ab0|
|          ab1|
|          ab2|
|          ab3|
|          ab4|
|          ab5|
|          ab6|
|          ab7|
|          ab8|
+-------------+

In [148]:
df_sample_Person.show

<bound method DataFrame.show of DataFrame[Fname: string, Lname: string, Mname: string, DateOfBirth: string, Suffix: string, Prefix: string, ActiveFlag: string, CreateDate: string, UpdateDate: string, CreatedBy: int, UpdatedBy: int, GenderID: int, Corelation_ID: string]>

In [149]:
df_updated_sample = df_sample.withColumn('Corelation_ID', concat(lit('ab'), monotonically_increasing_id()))

In [150]:
df_updated_sample.show()

+-------+-------+-----+-----------+------+------+----------+----------------+----------------+---------+---------+--------+--------+----------------+-------------+---------------+-----------+-------------+
|    _c0|    _c1|  _c2|        _c3|   _c4|   _c5|       _c6|             _c7|             _c8|      _c9|     _c10|    _c11|    _c12|            _c13|         _c14|           _c15|       _c16|Corelation_ID|
+-------+-------+-----+-----------+------+------+----------+----------------+----------------+---------+---------+--------+--------+----------------+-------------+---------------+-----------+-------------+
|  Fname|  Lname|Mname|DateOfBirth|Suffix|Prefix|ActiveFlag|      CreateDate|      UpdateDate|CreatedBy|UpdatedBy|GenderID|RaceCode|Race Description|IdentityDocID|IdentityDocType|RaceDetails|          ab0|
|Abigail|Abraham|    L| 18-10-1942|  null|  null|         Y|04-07-2013 00:00|09-07-2013 00:00|   100001|   100001|       1|      F5|           Black|      1468779|            SSN|          1|          ab1|
|   John|    Don|    L| 19-10-1942|  null|  null|         Y|05-07-2013 00:00|10-07-2013 00:00|   100002|   100002|       1|      F6|            Asia|       D13679|             DL|          2|          ab2|
| Unmesh|Kanchan|    L| 20-10-1942|  null|  null|         Y|06-07-2013 00:00|11-07-2013 00:00|   100003|   100003|       1|      F7|         Spanish|       D13680|             DL|          3|          ab3|
| Sanjib|  Nayak|    L| 21-10-1942|  null|  null|         Y|07-07-2013 00:00|12-07-2013 00:00|   100004|   100004|       1|      F8|          French|       D13681|             DL|          4|          ab4|
|Abigail|Abraham|    L| 22-10-1942|  null|  null|         Y|08-07-2013 00:00|13-07-2013 00:00|   100005|   100005|       1|      F9|           Black|      1468779|            SSN|          5|          ab5|
|  John1|   Don1|    L| 23-10-1942|  null|  null|         Y|09-07-2013 00:00|14-07-2013 00:00|   100006|   100006|       1|     F10|           White|      1468780|            SSN|          6|          ab6|
|  John2|   Don2|    L| 24-10-1942|  null|  null|         Y|10-07-2013 00:00|15-07-2013 00:00|   100007|   100007|       1|    null|            null|         null|           null|       null|          ab7|
|  John3|   Don3|    L| 25-10-1942|  null|  null|         Y|11-07-2013 00:00|16-07-2013 00:00|   100008|   100008|       1|    null|            null|         null|           null|       null|          ab8|
| Sanjib|  Nayak|    L| 26-10-1942|  null|  null|         Y|12-07-2013 00:00|17-07-2013 00:00|   100009|   100009|       1|    null|            null|         null|           null|       null|          ab9|
+-------+-------+-----+-----------+------+------+----------+----------------+----------------+---------+---------+--------+--------+----------------+-------------+---------------+-----------+-------------+

In [153]:
df_person_table = df_sample['_c0',
 '_c1',
 '_c2',
 '_c3',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8',
 '_c9',
 '_c10',
 '_c11',
 'Corelation_ID']

In [154]:
df_race = df_sample[
 'Corelation_ID',
     '_c16',
'_c12',
 '_c13'
    
]

In [160]:
df_Identity = df_sample[

    'Corelation_ID',
    '_c14',
 '_c15'
]

In [113]:
df_Identity.show()

+-------------+---------------+-------------+
|IdentityDocID|IdentityDocType|Corelation_ID|
+-------------+---------------+-------------+
|      1468779|            SSN|          ab0|
|       D13679|             DL|          ab1|
|       D13680|             DL|          ab2|
|       D13681|             DL|          ab3|
|      1468779|            SSN|          ab4|
|      1468780|            SSN|          ab5|
|         null|           null|          ab6|
|         null|           null|          ab7|
|         null|           null|          ab8|
+-------------+---------------+-------------+

In [114]:
display(df_Identity).

DataFrame[IdentityDocID: string, IdentityDocType: string, Corelation_ID: string]

In [161]:
df_Identity.write.csv('identity')

In [136]:
df_Identity.coalesce(1).write.format('csv').save('identity.csv' , header = True )

In [129]:
df_Identity.write.csv()

TypeError: csv() missing 1 required positional argument: 'path'

In [156]:
df_person_table.write.csv('person_task1')

In [157]:
df_race.write.csv('race_sample_task3')

In [158]:
df_updated_sample.write.csv('updated_sample')

AnalysisException: path file:/C:/Users/HP/updated_sample already exists.