In [ ]:
#record linkage

# record_linkage  contains 4 parts 
 1)majorly data preprocesing 
 2)indexing 
 3) comparission
  4)clasification
  5)clustering

### part1 cleaning the data or data preprocessing

In [1]:
# importing some basic libraries 
import numpy as np
import pandas as pd 
import re 
import pprint

In [2]:
#creating data for data for cleaning

In [3]:
data = [
    ("Chin's","3200 Las Vegas Boulevard","New York"),
    ("Chin Bistro","3200 Las Vegas Blvd.","New York"),
    ("Bistro","3400 Las Vegas Blvd.","New York City"),
    ("Bistro","3400 Las Vegas B.","NYC"),
]

df = pd.DataFrame(data, columns=['restaurant', 'address', 'city'])

In [4]:
df

    restaurant                   address           city
0       Chin's  3200 Las Vegas Boulevard       New York
1  Chin Bistro      3200 Las Vegas Blvd.       New York
2       Bistro      3400 Las Vegas Blvd.  New York City
3       Bistro         3400 Las Vegas B.            NYC

In [5]:
company_names = company_names_dirty = [
    'APPLE COMPUTER INC',
    'APPLE COMPUTER, INC.',
    'APPLE INC',
    'Apple Computer',
    'Apple Computer Co.',
    'Apple Computer Company',
    'Apple Computer Inc',
    'Apple Computer    Incorporated',
    'Apple Computer, Inc.',
    'Apple Inc',
    'Apple Inc.',
    'Apple, Inc.'
]

In [6]:
# first lower casing all the words in the / strings in the above list 
company_names = [i.lower() for i in company_names_dirty]

In [7]:
pprint.pprint(company_names)

['apple computer inc',
 'apple computer, inc.',
 'apple inc',
 'apple computer',
 'apple computer co.',
 'apple computer company',
 'apple computer inc',
 'apple computer    incorporated',
 'apple computer, inc.',
 'apple inc',
 'apple inc.',
 'apple, inc.']

In [8]:
#removing irrelevint separators
print('removing dots')
print('------------------------------------------------------------------------------------')
print("Remove irrelevant separators:")
irrelevant_regex = re.compile(r'[^a-z0-9/s]')
company_names = [irrelevant_regex.sub(' ', c) for c in company_names]
pprint.pprint(company_names)

removing dots
------------------------------------------------------------------------------------
Remove irrelevant separators:
['apple computer inc',
 'apple computer  inc ',
 'apple inc',
 'apple computer',
 'apple computer co ',
 'apple computer company',
 'apple computer inc',
 'apple computer    incorporated',
 'apple computer  inc ',
 'apple inc',
 'apple inc ',
 'apple  inc ']

In [9]:
print("Remove multi-spaces:")
multispace_regex = re.compile(r'\s\s+') 
company_names = [multispace_regex.sub(' ', c).strip() for c in company_names]
pprint.pprint(company_names)

Remove multi-spaces:
['apple computer inc',
 'apple computer inc',
 'apple inc',
 'apple computer',
 'apple computer co',
 'apple computer company',
 'apple computer inc',
 'apple computer incorporated',
 'apple computer inc',
 'apple inc',
 'apple inc',
 'apple inc']

In [10]:
print("Remove multi-spaces:")
multispace_regex = re.compile(r'\s\s+')
company_names = [c.strip() for c in company_names]
pprint.pprint(company_names)

Remove multi-spaces:
['apple computer inc',
 'apple computer inc',
 'apple inc',
 'apple computer',
 'apple computer co',
 'apple computer company',
 'apple computer inc',
 'apple computer incorporated',
 'apple computer inc',
 'apple inc',
 'apple inc',
 'apple inc']

In [11]:
import recordlinkage 
from recordlinkage import *

In [12]:
from recordlinkage import datasets

In [13]:
recordlinkage.datasets.load_febrl4

In [14]:
dfA , dfB  = recordlinkage.datasets.load_febrl4()

In [15]:
dfA

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-1070-org,michaela,neumann,8,stanley street,miami,winston hills,4223,nsw,19151111,5304218
rec-1016-org,courtney,painter,12,pinkerton circuit,bega flats,richlands,4560,vic,19161214,4066625
rec-4405-org,charles,green,38,salkauskas crescent,kela,dapto,4566,nsw,19480930,4365168
rec-1288-org,vanessa,parr,905,macquoid place,broadbridge manor,south grafton,2135,sa,19951119,9239102
rec-3585-org,mikayla,malloney,37,randwick road,avalind,hoppers crossing,4552,vic,19860208,7207688
...,...,...,...,...,...,...,...,...,...,...
rec-2153-org,annabel,grierson,97,mclachlan crescent,lantana lodge,broome,2480,nsw,19840224,7676186
rec-1604-org,sienna,musolino,22,smeaton circuit,pangani,mckinnon,2700,nsw,19890525,4971506
rec-1003-org,bradley,matthews,2,jondol place,horseshoe ck,jacobs well,7018,sa,19481122,8927667
rec-4883-org,brodee,egan,88,axon street,greenslopes,wamberal,2067,qld,19121113,6039042
rec-66-org,koula,houweling,3,mileham street,old airdmillan road,williamstown,2350,nsw,19440718,6375537

In [16]:
type(dfA)

pandas.core.frame.DataFrame

In [17]:
indexer = recordlinkage.Index()
indexer.full()
pairs = indexer.index(dfA , dfB)

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [18]:
print(len(dfA), len(dfB) , len(pairs))

5000 5000 25000000

In [19]:
print(pairs)

MultiIndex([('rec-1070-org',  'rec-561-dup-0'),
            ('rec-1070-org', 'rec-2642-dup-0'),
            ('rec-1070-org',  'rec-608-dup-0'),
            ('rec-1070-org', 'rec-3239-dup-0'),
            ('rec-1070-org', 'rec-2886-dup-0'),
            ('rec-1070-org', 'rec-4285-dup-0'),
            ('rec-1070-org',  'rec-929-dup-0'),
            ('rec-1070-org', 'rec-4833-dup-0'),
            ('rec-1070-org',  'rec-717-dup-0'),
            ('rec-1070-org', 'rec-3984-dup-0'),
            ...
            (  'rec-66-org',  'rec-670-dup-0'),
            (  'rec-66-org', 'rec-4134-dup-0'),
            (  'rec-66-org', 'rec-3866-dup-0'),
            (  'rec-66-org', 'rec-3152-dup-0'),
            (  'rec-66-org', 'rec-3363-dup-0'),
            (  'rec-66-org', 'rec-4495-dup-0'),
            (  'rec-66-org', 'rec-4211-dup-0'),
            (  'rec-66-org', 'rec-3131-dup-0'),
            (  'rec-66-org', 'rec-3815-dup-0'),
            (  'rec-66-org',  'rec-493-dup-0')],
           names=['rec_id_1', 'rec_id_2'], length=25000000)

In [20]:
indexer = recordlinkage.Index()
indexer.block('given_name')
candidate_links = indexer.index(dfA , dfB)
len(candidate_links)

77249

In [21]:
compare_cl = recordlinkage.Compare()
compare_cl.exact("given_name", "given_name", label="given_name")
compare_cl.string("surname", "surname", method="jarowinkler", threshold=0.85, label="surname")
compare_cl.exact("date_of_birth", "date_of_birth", label="date_of_birth")
compare_cl.exact("suburb", "suburb", label="suburb")
compare_cl.exact("state", "state", label="state")
compare_cl.string("address_1", "address_1", threshold=0.85, label="address_1")
features = compare_cl.compute(candidate_links, dfA, dfB)

In [22]:
features

                             given_name  surname  date_of_birth  suburb  \
rec_id_1     rec_id_2
rec-1070-org rec-3024-dup-0           1      0.0              0       0
             rec-2371-dup-0           1      0.0              0       0
             rec-4652-dup-0           1      0.0              0       0
             rec-4795-dup-0           1      0.0              0       0
             rec-1314-dup-0           1      0.0              0       0
...                                 ...      ...            ...     ...
rec-4528-org rec-4528-dup-0           1      1.0              1       1
rec-4887-org rec-4887-dup-0           1      1.0              1       0
rec-4350-org rec-4350-dup-0           1      1.0              1       1
rec-4569-org rec-4569-dup-0           1      1.0              1       1
rec-3125-org rec-3125-dup-0           1      1.0              1       0

                             state  address_1
rec_id_1     rec_id_2
rec-1070-org rec-3024-dup-0      1        0.0
             rec-2371-dup-0      0        0.0
             rec-4652-dup-0      0        0.0
             rec-4795-dup-0      1        0.0
             rec-1314-dup-0      1        0.0
...                            ...        ...
rec-4528-org rec-4528-dup-0      1        1.0
rec-4887-org rec-4887-dup-0      1        1.0
rec-4350-org rec-4350-dup-0      1        1.0
rec-4569-org rec-4569-dup-0      1        0.0
rec-3125-org rec-3125-dup-0      1        1.0

[77249 rows x 6 columns]

In [23]:
recordlinkage.compare.Exact

recordlinkage.compare.Exact

In [24]:
#for cleaning puposes we can you can also use inbuild method

In [ ]:
# The clean() function is used to clean a single column within a data frame, 
# where the column contains strings. By default, clean() will turn all strings into lowercase
# and remove characters such as quotation marks and punctuation. This function is especially useful for
# cleaning columns containing attributes such as names, addresses, abstracts, unstructured text, etc. 
# It is less useful for cleaning columns containing attributes such as phone numbers or lists.
# Although not discussed in the documentation, the clean() function also automatically removes leading
# and trailing white-space and collapses consecutive white-space into a single space.

In [28]:
dfA.head()

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-1070-org,michaela,neumann,8,stanley street,miami,winston hills,4223,nsw,19151111,5304218
rec-1016-org,courtney,painter,12,pinkerton circuit,bega flats,richlands,4560,vic,19161214,4066625
rec-4405-org,charles,green,38,salkauskas crescent,kela,dapto,4566,nsw,19480930,4365168
rec-1288-org,vanessa,parr,905,macquoid place,broadbridge manor,south grafton,2135,sa,19951119,9239102
rec-3585-org,mikayla,malloney,37,randwick road,avalind,hoppers crossing,4552,vic,19860208,7207688

In [34]:
# Default Cleaning
company_names = company_names_dirty = pd.DataFrame([
    'APPLE COMPUTER INC',
    'APPLE COMPUTER, INC.',
    'APPLE INC',
    'Apple Computer',
    'Apple Computer Co.',
    'Apple Computer Company',
    'Apple Computer Inc',
    'Apple Computer    Incorporated',
    'Apple Computer, Inc.',
    'Apple Inc',
    'Apple Inc.',
    'Apple, Inc.'
])

In [36]:
from recordlinkage.standardise import clean

In [37]:
company_names

                                 0
0               APPLE COMPUTER INC
1             APPLE COMPUTER, INC.
2                        APPLE INC
3                   Apple Computer
4               Apple Computer Co.
5           Apple Computer Company
6               Apple Computer Inc
7   Apple Computer    Incorporated
8             Apple Computer, Inc.
9                        Apple Inc
10                      Apple Inc.
11                     Apple, Inc.

In [40]:
company_names['CLEANED_NAMES'] = clean(company_names[0])
company_names

                                 0                CLEANED_NAMES
0               APPLE COMPUTER INC           apple computer inc
1             APPLE COMPUTER, INC.           apple computer inc
2                        APPLE INC                    apple inc
3                   Apple Computer               apple computer
4               Apple Computer Co.            apple computer co
5           Apple Computer Company       apple computer company
6               Apple Computer Inc           apple computer inc
7   Apple Computer    Incorporated  apple computer incorporated
8             Apple Computer, Inc.           apple computer inc
9                        Apple Inc                    apple inc
10                      Apple Inc.                    apple inc
11                     Apple, Inc.                    apple inc